/* Red Stylesheet
	A21C1C
*/

/* ----- Images ----- */
/* Top Gradient */
#logodesc { background: #560f0f url("{T_THEME_PATH}/images/red/top-loginlogo.png") scroll repeat-x; }
.top-title-background {}
/* Header for Forum/Topic List */
li.header { background-image: url("{T_THEME_PATH}/images/red/ft-r.png"); }
li.header dl { background-image: url("{T_THEME_PATH}/images/red/ft-l.png"); }
/* Breadcrumbs */
.dvg-bc span { background-image: url("{T_THEME_PATH}/images/red/bc.gif"); }

/* ----- Main ----- */
/* Headers */
h1.sidemenu { background-image: url("{T_THEME_PATH}/images/red/h1-bg.gif"); }
h2, .content h2, .panel h2{ color: #A21C1C; }
h3 { border-bottom-color: #CCC; color: #A21C1C; }
li.header a:link { color: #FFF; }
li.header a:hover { text-decoration: underline; }
/* Default Links */
a:active, a:focus, a:link, a:visited, a.forumlink, a.topictitle, .quotetitle, .attachtitle, .codetitle, p.moderators { color: #A21C1C; }
a:hover, a.left:hover, a.right:hover { color: #FFF; text-decoration: none; }
#dvg-bot-menu a:hover { color: #A21C1C; text-decoration: underline; }
#dvg-loginlinks a:hover { color: #A21C1C; }

/* ----- Main Menu ----- */
ul#navmenu li a:active, ul#navmenu li a:focus, ul#navmenu li a:link, ul#navmenu li a:visited { color: #A21C1C; }
ul#navmenu li a:hover { color: #FFF; }

/* ----- Links on gradient backgrounds ----- */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link,
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active,
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { color: #FFF; }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { text-decoration: underline; }

/* ----- Buttons ----- */
a.button1, input.button1, input.button3, a.button2, input.button2 { background-image: url("{T_THEME_PATH}/images/red/bg-button2.png"); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { background-position: 0 -25px; }

/* ----- Forum, Topic titles ----- */
a.forumtitle, a.forumtitle:active, a.forumtitle:link, a.topictitle, a.topictitle:active, a.topictitle:link { color: #A21C1C; }
a.forumtitle:hover, a.topictitle:hover { color: #FFF; }

/* ----- Post links ----- */
.postlink, .postlink:active, .postlink:visited .postlink:link { color:#A21C1C; }
.postlink:hover { background-color: transparent; color: #FFF; }
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a, .post:target h3 a { color:#A21C1C; }

/* ----- UCP Top Menu ----- */
#tabs .activetab a span, #tabs a span { color: #A21C1C; }
#navigation a, #navigation #active-subsection a { color: #A21C1C; }

/* ----- Pagination ----- */
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active { color:#A21C1C; }
.pagination span a:hover { color: #FFF; }

/* ----- Side Menu ----- */
ul.sidemenu a { background: url("{T_THEME_PATH}/images/red/sidelist.gif") no-repeat; }
ul.sidemenu a:link, ul.sidemenu a:active, ul.sidemenu a:focus, ul.sidemenu a:visited { color: #FFF; }
ul.sidemenu a:hover { color: #A21C1C; }

/* ----- Polls ----- */
.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	background: url("{T_THEME_PATH}/images/red/pollbar.png") repeat-x; border-bottom: 1px solid #222; border-right: 1px solid #222; }
fieldset.polls dl.voted { color: #A21C1C; }