/*
phpBB-3.3.x Style Sheet paintabstract
---------------------------------------------------------------------
	Style name:			paintabstract
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Prosk8er ( https://gotskillslounge.com/ )
---------------------------------------------------------------------
*/

html, body {
	color: #000000;
	background-color: #DBD5C9;
	background: #F3E2C7;
	background: -moz-linear-gradient(-45deg, #F3E2C7 4%, #B68D4C 35%, #B68D4C 35%, #C19E67 35%, #E9D4B3 100%);
	background: -webkit-linear-gradient(-45deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	background: linear-gradient(135deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3E2C7', endColorstr='#E9D4B3',GradientType=1 );
}

h1 {
	color: #000000;
	font-size: 1.8em;
}

h2 {
	color: #000000;
	font-size: 1.8em;
}

h3 {
	border-bottom-color: #F3E2C7;
	color: #000000;
}

hr {
	border-color: #F3E2C7;
	border-top-color: #F3E2C7;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #000000; }

a:hover {
	color: #452916;
	text-decoration: underline;
}

a:focus {
	color: #191919;
}

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #452916;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #000000;
}

/* Breadcrumbs */
.navbar a, .navbar a:link, .navbar a:visited {
	color: #000000;
}

.navbar a:active, .navbar a:focus, .navbar a:hover {
	color: #452916;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #ECE5D1;
}

/* Post body links */
.postlink {
	border-bottom-color: #000000;
	color: #000000;
}

.postlink:visited {
	border-bottom-color: #181818;
	color: #000000;
}

.postlink:hover {
	background-color: #ECE5D1;
	color: #000000;
}

.signature a, .signature a:hover {
	background-color: transparent;
	color: #311481;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links */
.arrow-left:hover, .arrow-right:hover {
	color: #000000;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #FFFAF0;
	background: #F3E2C7;
	background: -moz-linear-gradient(-45deg, #F3E2C7 4%, #B68D4C 35%, #B68D4C 35%, #C19E67 35%, #E9D4B3 100%);
	background: -webkit-linear-gradient(-45deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	background: linear-gradient(135deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3E2C7', endColorstr='#E9D4B3',GradientType=1 );
	border: 2px inset #9F5F08;
	-webkit-box-shadow: 0 0 10px #9F5F08;
	box-shadow: 0 0 10px #9F5F08;
}

.headerbar {
	background-color: #ECE5D1;
	background-image: -webkit-linear-gradient(top, #B1A188, #ECE8DC, #ECE5D1);
	background-image: linear-gradient(to bottom, #B1A188, #ECE8DC, #ECE5D1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B1A188', endColorstr='#ECE5D1',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat;
	color: #000000;
	margin-bottom: 0px;
}

.navbar {
	background: #ECE5D1;
	background-image: none;
	filter: none;
	border-bottom: 1px solid #9F5F08;
	width: auto;
}

.forabg {
	background-color: #ECE5D1;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
	border: 1px solid #9F5F08;
}

.forumbg {
	background-color: #ECE5D1;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
	border: 1px solid #9F5F08;
}

.panel {
	background-color: #DDCFB7;
	color: #000000;
}

.post:target .content {
	color: #000000;
}

.bg1 {
	background-color: #F4EEE0;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #F4EEE0;
}

.bg2 {
	background-color: #F4EEE0;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #F4EEE0;
}

.bg3 {
	background-color: #F4EEE0;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: transparent;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #000000;
}

table.table1 tbody tr {
	border-color: #000000;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #ECE5D1;
	color: #000;
}

table.table1 td {
	color: #000000;
}

table.table1 tbody td {
	border-top-color: #000000;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #000000;
	background-color: #F4EEE0;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #000000;
}

.sep {
	color: #181818;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #513A25;
}

.jumpbox-cat-link {
	background-color: #B68D4C;
	border-top-color: #513A25;
	color: #ECE8DC;
}

.jumpbox-cat-link:hover {
	background-color: #513A25;
	border-top-color: #513A25;
	color: #FFFAF0;
}

.jumpbox-forum-link {
	background-color: #DFC6A0;
}

.jumpbox-forum-link:hover {
	background-color: #FFFAF0;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #513A25 transparent;
}

.jumpbox-sub-link {
	background-color: #DFC6A0;
}

.jumpbox-sub-link:hover {
	background-color: #EFE9D7;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #000000;
}

.error {
	color: #B70707;
}

.reported {
	background-color: #F2E5BC;
	background-image: none;
	filter: none;
}

li.reported:hover {
	background-color: #FFFAF0 !important;
	background-image: none;
	filter: none;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements */
}

div.rules {
	background-color: #DDCFB7;
	color: #381101;
}

p.post-notice {
	background-color: #F0ECE0;
	background-image: none;
	filter: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #F4EEE0;
	background-image: none;
	filter: none;
}

ul.topiclist li {
	color: #000000;
}

ul.topiclist dd {
	border-left-color: #FFFAF0;
}

.rtl ul.topiclist dd {
	border-right-color: #FFFAF0;
	border-left-color: transparent;
}

li.row {
	border-top-color: transparent;
	border-bottom-color: #FFFAF0;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #F4EEE0;
}

li.row:hover dd {
	border-left-color: #CCB79A;
}

.rtl li.row:hover dd {
	border-right-color: #CCB79A;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #000000;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #000000;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #000000;
}

.content h2, .panel h2 {
	color: #000000;
	border-bottom-color: #FFFAF0;
}

dl.faq dt {
	color: #000000;
}

.posthilit {
	background-color: #55402B;
	color: #FFFAF0;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #B68D4C;
}

/* Post noticies */
.notice {
	border-top-color: #E6E6E6;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #ECE5D1;
	border-color: #452916;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #DFD9CD;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #FFFAF0;
}

/* Code block */
.codebox {
	background-color: #FFFAF0;
	border-color: #452916;
}

.codebox p {
	border-bottom-color: #452916;
}

.codebox code {
	color: #808080;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFAF0;
	border-color: #452916;
}

.pm-message .attachbox {
	background-color: #171717;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFAF0;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #ECE5D1;
}

dl.thumbnail dt a:hover img {
	border-color: #181818;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #FFFAF0;
	color: #000000;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #000000;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #FFFAF0;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar1 {
	border-left-color: #181818;
}

.pollbar2 {
	background-color: #FFFAF0;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar2 {
	border-left-color: #181818;
}

.pollbar3 {
	background-color: #FFFAF0;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar3 {
	border-left-color: #181818;
}

.pollbar4 {
	background-color: #FFFAF0;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar4 {
	border-left-color: #181818;
}

.pollbar5 {
	background-color: #FFFAF0;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar5 {
	border-left-color: #181818;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #000000;
	border-color: #B68D4C;
}

.pm .postprofile {
	border-color: #B68D4C;
}

.postprofile strong {
	color: #000000;
}

/*
.online {
	background-image: url("./en/icon_user_online.png");
}
 */

.online {
	background-image: url("./images/icon_user_online.png");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #42300D;
	background-color: #B68D4C;
	background-image: none;
	filter: none;
	background: #B68D4C;
	box-shadow: 0 0 0 1px #F3E2C7 inset;
	text-shadow: none;
}

.button:hover,
.button:focus {
	border-color: #9F5F08;
	background-color: #B68D4C;
	background-image: none;
	filter: none;
	background: #B68D4C;
	box-shadow: 0 0 0 1px #F3E2C7 inset;
	-webkit-box-shadow: 0 0 0 1px #F3E2C7 inset;
	text-shadow: none;
}

.button .icon,
.button-secondary {
	color: #726F65;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #ECE5D1;
}

.button-search:hover,
.button-search-end:hover {
	border-color: transparent;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #72604C;
}

.caret	{ border-color: #5E5539; }
.caret:hover	{ border-color: #4F4D46; }

.contact-icons a		{ border-color: #6B5E46; }
.contact-icons a:hover	{ background-color: #FFFAF0; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #ECE5D1;
	filter: none;
	border-color: #4D3420;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #4D3420;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #000000;
}

.pagination li.active span {
	background: #4D3420;
	border-color: #F3E2C7;
	color: #FFFAF0;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #4D3420;
	border-color: #000000;
	filter: none;
	color: #FFFAF0;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #B68D4C;
}

.search-header {
	box-shadow: 0 0 10px #B68D4C;
}

.search-results li:hover,
.search-results li.active {
	background-color: #C1B49A;
}

.search-box .inputbox {
	background-image: none;
	filter: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 24px;
	padding: 3px;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #181818;
}

.panel-container .panel li.row {
	border-bottom-color: #181818;
	border-top-color: #F0ECE0;
}

ul.cplist {
	border-top-color: #F0ECE0;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #191919;
}

.panel-container table.table1 thead th {
	color: #000000;
	border-bottom-color: #000000;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #CCB79A;
	color: #000001;
}

.tabs .tab > a:hover {
	background: #ECE5D1;
	color: #000000;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	border-color: #A19A81;
	background-image: -webkit-linear-gradient(top, #CCB79A, #ECE5D1);
	background-image: linear-gradient(to bottom, #CCB79A, #ECE5D1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCB79A', endColorstr='#ECE5D1',GradientType=0 );
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	color: #191919;
}

.tabs .activetab > a:hover {
	border-color: #5E5539;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #CCB79A;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F0ECE0;
	color: #513A25;
	text-decoration: underline;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #000001;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #A19A81;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #191919;
	background-image: -webkit-linear-gradient(top, #DBD5C9, #E5E0D4);
	background-image: linear-gradient(to bottom, #DBD5C9, #E5E0D4);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBD5C9', endColorstr='#E5E0D4',GradientType=0 );
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.rtl .navigation a {
	color: #191919;
	border-color: #A19A81;
	background-image: -webkit-linear-gradient(top, #DBD5C9, #E5E0D4);
	background-image: linear-gradient(to bottom, #DBD5C9, #E5E0D4);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBD5C9', endColorstr='#E5E0D4',GradientType=0 );
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.navigation a:hover {
	background-color: #E5E0D4;
	color: #694705;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	color: #694705;
	background: #E1DCD0;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	background: #694705;
	color: #F0ECE0;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #DBD5C9;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #E5E0D4;
}

.cp-main .pm {
	background-color: #DFD9CD;
}

/* Friends list */
.cp-mini {
	background-color: #E5E0D4;
}

dl.mini dt {
	color: #000000;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #AA0000;
	border-right-color: #181818;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FFFF99;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #7B6A2E;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #215412;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #FF0000;
}

/* Avatar gallery */
.gallery label {
	background: #DFD9CD;
	border-color: #6B5E46;
}

.gallery label:hover {
	background-color: #F4EEE0;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #F4EEE0;
	color: #000;
}

label {
	color: #000;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #666;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #E1D4BA;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #181818;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(16, 164, 242, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #ECE5D1;
	border-color: #513A25;
	color: #191919;
}

.inputbox:-moz-placeholder {
	color: #E5E0D3;
}

.inputbox::-webkit-input-placeholder {
	color: #E5E0D3;
}

.inputbox:hover {
	border-color: #513A25;
}

.inputbox:focus {
	border-color: #513A25;
	color: #191919;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	border-color: #B7A88C;
	color: #ECE9E1;
	background-color: #B7A88C;
	background-image: -webkit-linear-gradient(top, #8A8271 0%,#AA9675 100%);
	background-image: linear-gradient(to bottom, #8A8271 0%,#AA9675 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8A8271', endColorstr='#AA9675',GradientType=0 );
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
	filter: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #ECE9E1;
}

a.button1, input.button1 {
	font-weight: normal;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #181818;
	color: #E5E0D4;
	background-color: #524130;
	background-image: -webkit-linear-gradient(top, #524130 0%,#AA9675 100%);
	background-image: linear-gradient(to bottom, #524130 0%,#AA9675 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#524130', endColorstr='#AA9675',GradientType=0 );
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #191919;
	color: #E5E0D4;
}

input.disabled {
	color: #000;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #EDD5AB;
	border-color: #999999;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #EDD5AB;
}

.dropdown-extended ul li:hover {
	background-color: #FFFAF0;
	color: #010101;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #6B5E46;
	border-radius: 0px;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #B1A188;
	background-image: -webkit-linear-gradient(top, #B1A188 0%, #ECE8DC 52%, #ECE8DC 100%);
	background-image: linear-gradient(to bottom, #B1A188 0%, #ECE8DC 52%, #ECE8DC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B1A188', endColorstr='#ECE8DC',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px transparent;
}

.dropdown .pointer {
	border-color: #6B5E46 transparent;
}

.dropdown .pointer-inner {
	border-color: #6B5E46 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #6B5E46 transparent;
}

.dropdown .dropdown-contents {
	background: #ECE5D1;
	border-color: #6B5E46;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: transparent;
}

.dropdown li.separator {
	border-color: transparent;
}

/* Notifications Common - ADDs
---------------------------------------- */
.dropdown-extended .dropdown-contents {
	width: 300px;
}

/* Notifications
---------------------------------------- */
.notification_list p.notification-time {
	color: #D31141;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}

/* Another ADDs - e.q. Common, Content, Button, Icons, Responsive
------------------------------------------------------------------ */
.wrap { max-width: 1366px; }

.ownwrap-pa {
	background: #F3E2C7;
	background: -moz-linear-gradient(15deg, #F3E2C7 4%, #B68D4C 35%, #B68D4C 35%, #C19E67 35%, #E9D4B3 100%);
	background: -webkit-linear-gradient(45deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	background: linear-gradient(45deg, #F3E2C7 4%,#B68D4C 35%,#B68D4C 35%,#C19E67 35%,#E9D4B3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3E2C7', endColorstr='#E9D4B3',GradientType=1 );
	border: 2px inset #9F5F08;
	margin-left: 46px;
	margin-right: 46px;
	padding: 10px 12px;
	clear: both;
	overflow: hidden;
}

.row .pagination {
	margin-top: 4px;
	margin-bottom: 4px;
}

.action-bar {
	margin: 8px 0;
}

.forabg + .action-bar {
	margin-bottom: 2.4em;
}

.fa-external-link-square::before {
	content: "\f0ea";
	color: #513A25;
}

.fa-commenting-o::before {
	content: "\f248";
	color: #513A25;
}

.fa-file-o::before {
	content: "\f016";
	color: #513A25;
}

.fa-external-link::before {
	content: "\f08e";
	color: #513A25;
}

.fa-chevron-circle-up::before {
	content: "\f139";
	color: #B68D4C;
}

.fa-level-down::before {
	content: "\f149";
	color: #EC9C3F;
}

.postprofile dd, .postprofile dt {
	line-height: 1.8em;
}

.dropdown li {
	background-color: #FFFAF0;
	color: #513A25;
}

dl.row-item dt {
	background-position: 5px 96%;
	background-repeat: no-repeat;
	background-size: 17px auto;
}

dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 44px auto;
}

dl.row-item dt .list-inner {
	padding-left: 64px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 52px;
}

.postbody h3 img {
	vertical-align: sub;
}

.badge {
	background-color: #513A25;
	border-radius: 10px;
	opacity: 0.8;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	float: right;
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	padding: 4px 6px;
	color: #F0ECE0;
}

.badge.hidden {
	display: none;
}

li.header dt, li.header dd {
	font-size: 1.2em;
	text-transform: none;
}

/* Another ADDs */

.wrap, .headerbar, .navbar, .forabg, .forumbg, .panel, .post {
	border-radius: 0px;
}

div.rules {
	border-radius: 0px;
	border: 2px solid #9F5F08;
}

.rules h3 { font-size: 1.2em; text-transform: none; }
.rules > div a { border-bottom: 1px solid transparent; text-decoration: underline; color: inherit; }
.rules > div a:visited { text-decoration: underline; color: inherit; }
.rules > div a:hover { text-decoration: underline; color: inherit; background-color: #ECE5D1; }
.rules > div .active > a { font-size: 1.1em; text-decoration: underline; color: inherit; }
.rules > p a { font-weight: bold; border-bottom: 1px solid #9F5F08; text-decoration: none; color: inherit; }
.rules > div a.button2 { font-size: 1.0em; }

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.rules > div a { border-bottom: 1px solid transparent; text-decoration: underline; color: inherit; }
	.rules > p a { font-weight: bold; border-bottom: 1px solid #9F5F08; text-decoration: none; color: inherit; }
}

.ucp-title {
	text-align: center;
	background-color: #ECE5D1;
	padding: 6px;
	background-image: -webkit-linear-gradient(top, #CCB79A 0%, #ECE5D1 52%, #ECE5D1 100%);
	background-image: linear-gradient(to bottom, #CCB79A, #ECE5D1);
	border-radius: 7px;
	border-bottom: 2px solid #9F5F08;
}

.bbcode-status a { text-decoration: underline; }

#message { background: #DBD5C9; }

#headerbar_block_wrapperpa {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#headerbar_block_wrapperpa img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.forabg, .forumbg {
	padding: 5px 7px 6px 7px;
}

.post {
	border: 1px solid #513A25;
}

.profile-posts a {
	color: #80472A;
}

.dropdown .dropdown-contents {
	border-radius: 0px;
}

.dropdown-contents a {
	display: block;
	padding: 7px;
	margin: 1px;
}

.button {
	color: #513A25;
	border-radius: 0px;
}

.icon, .button .icon {
	color: #513A25;
}

.submit-buttons input#agreed {
	font-weight: normal;
}

.search-header {
	margin-top: 24px;
}

.quickloginpanel {
	border-radius: 0px;
	background-color: #DED0AF;
	background-image: -webkit-linear-gradient(top, #B1A188, #ECE8DC, #ECE8DC);
	background-image: linear-gradient(to bottom, #B1A188, #ECE8DC, #ECE8DC);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B1A188', endColorstr='#ECE8DC',GradientType=0 );
	background-repeat: repeat-x;
	border: 1px solid #9F5F08;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(140,82,203,0.8) box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 19px 9px rgba(159, 137, 63, 0.44);
	margin: 1% auto;
	padding: 7px;
}

.quickloginpanel a {
	text-decoration: none;
	color: #513A25;
	border-bottom: 1px solid #513A25;
	margin-top: 3px;
	word-spacing: .3em;
}

.quickloginpanel a:hover {
	text-decoration: none;
	color: #5F2711;
	border-bottom: 1px solid #D6A072;
	margin-top: 3px;
	word-spacing: .3em;
}

div.quickloginpanel form.headerspace {
	margin-top: -16px;
}

.pasitedescription {
	font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
	min-height: 18px;
	text-align: center;
}

.pablock_left {
	float: left;
	margin-top: 8px;
	margin-bottom: 6px;
	width: 58%;
}

.pablock_right {
	float: right;
	margin-top: 8px;
	margin-bottom: 6px;
}

.pasitename {
	border-radius: 0px;
	background-color: #DED0AF;
	background-image: -webkit-linear-gradient(top, #CCB79A, #ECE5D1, #ECE5D1);
	background-image: linear-gradient(to bottom, #CCB79A, #ECE5D1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCB79A', endColorstr='#ECE5D1',GradientType=0 );
	background-repeat: repeat-x;
	border: 1px solid #9F5F08;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(140,82,203,0.8) box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 19px 9px rgba(159, 137, 63, 0.44);
	margin: 1% auto;
	padding: 7px;
	color: #000000;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

.pasitename a {
	text-decoration: none;
	color: #513A25;
	border-bottom: 1px solid #513A25;
	margin-top: 3px;
	word-spacing: .3em;
}

.pasitename a:hover {
	text-decoration: none;
	color: #5F2711;
	border-bottom: 1px solid #D6A072;
	margin-top: 3px;
	word-spacing: .3em;
}

.linepa-divider {
	margin: auto;
	margin-top: 8px;
	width: 82%;
	position: relative;
}

.linepa-divider .linepashadow {
	overflow: hidden;
	height: 20px;
}

.linepa-divider .linepashadow:after {
	content: '';
	display: block;
	margin: -25px auto 0;
	width: 100%;
	height: 25px;
	border-radius: 125px/12px;
	box-shadow: 0 0 8px #9F5F08;
}

dd input[type="number"] { background: #DDCFB7; font-size: 1.2em; padding: 6px; color: #6B5E46; }

#ch {
	background: #DDCFB7;
	font-size: 1.1em;
	padding: 4px;
	border-color: #010101;
	color: #6B5E46;
}

div.boxshadow-specialpa {
	width: 94%;
	box-shadow: 0 0 5px 2.5px #6B5E46, 10px -5px #452916, 10px 5px 15px #010101, -10px 5px #6B5E46, -10px -5px 15px #9F5F08;
	margin: 30px auto;
	padding: 4px;
}

ul.topiclist li.row dt a.subforum.unread {
	border-left: 1px solid #AA0000;
	font-style: italic;
	padding-left: 2px;
	color: #AA0000;
}

/* Prevent horizontal scrollbars on thumbnails-responsive e.q. IE11 not working anymore smaller 701px so we need a workaround content-css
-------------------------------------------------------------------------------------------------------------------------------------------- */
dl.thumbnail dt a img {
	width: 100%;
	height: auto;
}

/* Adds responsive design
--------------------------------------------------------------- */

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	body {
	background-image: none;
	filter: none;
	}
	fieldset.display-actions {
	text-align: left;
	}
	fieldset.display-actions label {
	padding-right: 2px;
	margin-top: 6px;
	white-space: normal;
	}
	fieldset.display-actions label {
	padding: 12px 10px 8px 2px;
	white-space: normal;
	}
	.linepa-divider, .linepashadow {
	display: none;
	}
	.sitelogo-responsiveadpt {
	display: block;
	max-width: 100%;
	}
	h1.pasitename {
	font-size: 1.35em;
	font-weight: bold;
	text-align: center;
	}
	.pablock_left {
	width: 99%;
	}
	.pasitedescription {
	float: none;
	font-size: 1.2em;
	line-height: 2em;
	min-height: 19px;
	text-align: center;
	}
}

@media only screen and (max-width: 825px), only screen and (max-device-width: 825px) {
	.wrap {
	max-width: 1152px;
	}
}

@media only screen and (max-width: 875px), only screen and (max-device-width: 875px) {
	select, .inputbox {
	max-width: 240px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	dl.row-item dt a {
	display: inline;
	line-height: 1.55em;
	}
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.ownwrap-pa {
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-left: 2px;
	padding: 4px 16px;
	}
	fieldset.quick-login input.inputbox {
	width: 80%;
	max-width: 280px;
	margin-left: 20px;
	}
	fieldset.quick-login label {
	display: block;
	margin-bottom: 15px;
	white-space: normal;
	}
	fieldset.quick-login label[for="autologin"] {
	display: inline-block;
	text-align: right;
	min-width: 50%;
	margin-top: 14px;
	}
}

@media screen and (min-width: 1220px) and (min-device-width: 1220px){
	#border-pa {
	border: 10px solid transparent;
	padding: 0px;
	border-image: url("./images/borderpa.jpg") 20% round;
	}
	#border_block-pa {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	clear: both;
	margin-bottom: 0px;
	}
	#borderleft-pa {
	background-image: url("./images/border-lt.jpg");
	background-repeat: repeat-y;
	background-position: left;
	}
	#borderright-pa {
	background-image: url("./images/border-rt.jpg");
	background-repeat: repeat-y;
	background-position: right;
	}
	.sloganimg {
	background: url("./images/site_logo_slogan.jpg");
	background-repeat: no-repeat;
	width: 138px;
	height: 80px;
	float: left;
	padding-right: 5px;
	}
	.slogan {
	display: block;
	text-decoration: none;
	}
}

@media (min-width: 701px) {
	.postbody {
	width: calc(100% - 208px - 1px - 16px);
	}
	.postprofile {
	width: 208px;
	}
	h1::before {
	content: '-';
	margin-right: 0.35em;
	}
	h1::after {
	content: '-';
	margin-left: 0.35em;
	}
}
