	<!-- EVENT overall_footer_content_after -->

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!-- EVENT overall_footer_page_body_after -->

<div id="wrapfooter">
	<span class="copyright">
	<!-- EVENT overall_footer_copyright_prepend -->
	{CREDIT_LINE} | DVGFX2 by: <a href="http://gotskillslounge.com/">Prosk8er</a> &copy;
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- EVENT overall_footer_copyright_append -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
	<!-- IF U_ACP --><br /><span id="acp"><a href="{U_ACP}">{L_ACP}</a></span><br /><!-- ENDIF -->
</div>

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- EVENT overall_footer_after -->

{$SCRIPTS}

</body>
</html>