{% if not S_IS_BOT and not S_USER_LOGGED_IN %}<a href="{{ U_LOGIN_LOGOUT }}" title="{{ lang('LOGIN_LOGOUT') }}" id="goto_loginsite" rel="nofollow">{{ lang('LOGIN_LOGOUT') }}</a>{% endif %}

{% if S_USER_LOGGED_IN and not S_IS_BOT %}
<div class="showwindowbox">
	<div class="inner">
		<h3>{{ lang('SHOWANDCLOSEBOXESHEADLINE') }}</h3>
		<p><strong>{{ lang('SHOWANDCLOSEBOXESUSERWELCOME') }} {{ S_USERNAME }},<br></strong></p>
		<p><a href="#"><img src="{{ T_EXT_SHOWANDCLOSEBOX_IMG_PATH }}/icon_user_activeonline.gif" width="113" height="21" alt="{{ lang('SHOWANDCLOSEBOXESUSERONLINEACTIVE') }}" title="{{ lang('SHOWANDCLOSEBOXESUSERONLINEACTIVE') }}" /></a></p>
		<div>
			{% if S_DISPLAY_PM and S_NOTIFICATIONS_DISPLAY %}
			<div style="text-align: center;">
			{% if S_USER_NEW_PRIVMSG %}
				<div><h3>{{ lang('SHOWANDCLOSEBOXESNEWMESSAGES') }}</h3></div>
				<a href="{{ U_PRIVATEMSGS }}"><img src="{{ T_EXT_SHOWANDCLOSEBOX_IMG_PATH }}/pmboxpmnew46x46.png" alt="" /></a>
				<div>
					<a href="{{ U_PRIVATEMSGS }}">{{ lang('NEW_MESSAGES') }}&nbsp;[{{ PRIVATE_MESSAGE_COUNT }}]</a>
				</div>
			{% elseif S_USER_UNREAD_PRIVMSG %}
				<div><h3>{{ lang('SHOWANDCLOSEBOXESNEWMESSAGES') }}</h3></div>
				<a href="{{ U_PRIVATEMSGS }}"><img src="{{ T_EXT_SHOWANDCLOSEBOX_IMG_PATH }}/pmboxunreadpm46x46.png" alt="" /></a>
				<div>
					<a href="{{ U_PRIVATEMSGS }}">{{ lang('UNREAD_MESSAGES') }}&nbsp;[{{ S_USER_UNREAD_PRIVMSG }}]</a>
				</div>
			{% else %}
				<div><h3>{{ lang('SHOWANDCLOSEBOXESNEWMESSAGES') }}</h3></div>
				<a href="{{ U_PRIVATEMSGS }}"><img src="{{ T_EXT_SHOWANDCLOSEBOX_IMG_PATH }}/pmbox46x46.png" alt="" /></a>
				<div>
					<a href="{{ U_PRIVATEMSGS }}">{{ lang('SHOWANDCLOSEBOXES_NO_MESSAGES') }}</a>
				</div>
			{% endif %}
			</div>
			{% endif %}
		</div>
		<p><br>{{ lang('SHOWANDCLOSEBOXES_READMORE') ~ lang('COLON') }}<br>{{ lang('SHOWANDCLOSECONDITIONS') }}</p>
		<p class="vulcan-greeting">{{ lang('SHOWANDCLOSEBOXES_TEXT') }}</p>
		<p><a href="#"><img src="{{ T_EXT_SHOWANDCLOSEBOX_IMG_PATH }}/material_images_sst/sstboximgone.png" width="60" height="60" alt="" title="{{ lang('SHOWANDCLOSEBOXESIMG_FIRST') }}" /></a></p>
	</div>
	<!-- NOTE: Use few words for the links (see your languages). Change style="display: block;" to style="display: none;" if you do not want to show this small linklist -->
	<div style="display: block;">
		<h3>{{ lang('SHOWANDCLOSEBOXESINFO') }}</h3>
		<div id="listlinkmoreinfo">
			<ul>
				<li><a href="#"><span>{{ lang('SHOWANDCLOSEBOXESLINK_FIRST') }}</span></a></li>
				<li><a href="#"><span>{{ lang('SHOWANDCLOSEBOXESLINK_SECOND') }}</span></a></li>
				<li><a href="#"><span>{{ lang('SHOWANDCLOSEBOXESLINK_THIRD') }}</span></a></li>
			</ul>
		</div>
	</div>
	<div class="right-box" style="margin: 8px;"><a href="{{ U_INDEX }}" title="{{ lang('INDEX') }}">{{ lang('INDEX') }}</a></div>
</div>
<a href="#" rel="help" class="knobforbox" title="{{ lang('KNOB_INFO_TOOLTIP') }}"></a>
{% endif %}
<div style="clear: both"></div>
<script>
$(document).ready(function(){
	$(".knobforbox").click(function(){
		$(".showwindowbox").toggle(200);
		$(this).toggleClass("active");
		return false;
	});
});
</script>
