/*
phpBB-3.3.x Style Sheet TheGardensChild
------------------------------------------------------------------------
	Style name:			TheGardensChild
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Talk19Zehn ( ongray-design.de )
	Note:				Created for phpBB-3.1.x, phpBB-3.2.x, 3.3.x by by Talk19Zehn ( ongray-design.de ) with kind permission at Wuerzi earlier ( spieleresidenz.de )
	Hint:				Style-Idea is based for phpBB-3.0 by Wuerzi and styleauthors at ( earlier spieleresidenz.de never exist anymore )
------------------------------------------------------------------------
*/

html, body {
	color: #000000;
	background-color: #DADDDA;
	min-height: 100%;
}

body {
	padding: 18px 0;
}

h1 {
	font-size: 1.6em;
	color: #526444;
	text-align: left;
	margin-right: 0;
}

h2 {
	color: #000000;
}

h3 {
	border-bottom-color: #E6E6E6;
	color: #000000;
}

hr {
	border-color: #FAFAFA;
	border-top-color: #343F2C;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #000000; text-decoration: none; }

a:hover,
a:focus,
a:active {
	color: #191919;
}

a:hover { text-decoration: underline; }


/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #D9F2C3;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #DADDDA;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #DBDDDA;
}

/* Post body links */
.postlink {
	border-bottom-color: #000000;
	color: #000000;
}

.postlink:visited {
	border-bottom-color: #181818;
	color: #000000;
}

.postlink:hover {
	background-color: #DADDDA;
	color: #000000;
}

.signature a, .signature a:hover {
	background-color: transparent;
	color: #000000;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links */
.arrow-left:hover, .arrow-right:hover {
	color: #000000;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #DBDDDA;
	border-color: transparent;
	padding: 0;
}

.headerbar {
	background-color: #343F2C;
	filter: none;
	background-image: url("./images/bg_header.gif");
	color: #C3CBC1;
	margin-bottom: 3px;
	padding: 18px;
}

.navbar {
	background-color: #CCCCCC;
	filter: none;
	background-image: linear-gradient(to bottom, #C5CBC7, #DFDFDD, #C5CBC7);
	background-repeat: repeat;
	box-shadow: 0px 0px 14px 4px rgba(62, 94, 48, 0.8);
}

.forabg {
	background-color: #343F2C;
	filter: none;
	background-image: url("./images/bg_list.gif");
	background-repeat: repeat-x;
}

.forumbg {
	background-color: #343F2C;
	filter: none;
	background-image: url("./images/bg_header.gif");
	background-repeat: repeat-x;
}

.panel {
	background-color: #B3C897;
	color: #000000;
}

.post:target .content {
	color: #000000;
}

/* 
.post h3 a.first-unread,
.post:target h3 a {
	color: #000000;
}
 */

.bg1 {
	background-color: #B3C897;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #B3C897;
}

.bg2 {
	background-color: #B3C897;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #B3C897;
}

.bg3 {
	background-color: #C1CCAA;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: transparent;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #DBDDDA;
}

table.table1 tbody tr {
	border-color: #000000;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #B3C897;
	color: #000;
}

table.table1 td {
	color: #000000;
}

table.table1 tbody td {
	border-top-color: #B4C89E;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #000000;
	background-color: #B3C897;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #000000;
}

.sep {
	color: #181818;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196DB5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1B9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #6C1911;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #898A87;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #006000;
}

.jumpbox-cat-link {
	background-color: #627751;
	border-top-color: #627751;
	color: #D9F2C3;
}

.jumpbox-cat-link:hover {
	background-color: #627751;
	border-top-color: #627751;
	color: #DADADA;
}

.jumpbox-forum-link {
	background-color: #94B77F;
}

.jumpbox-forum-link:hover {
	background-color: #A5B79A;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #86A167 transparent;
}

.jumpbox-sub-link {
	background-color: #B3C897;
}

.jumpbox-sub-link:hover {
	background-color: #87A372;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #000000;
}

.error {
	color: #AA0000;
}

.reported {
	background-color: #EFF2E3;
	background-image: none;
	filter: none;
}

li.reported:hover {
	background-color: #AFB7A5 !important;
	background-image: none;
	filter: none;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #D0E0BA;
	border: 2px solid #006000;
	border-radius: 0px;
	color: #000;
}

.rules h3 {font-size: 1.2em; text-transform: none;}
.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
.rules > div a:visited {text-decoration: underline; color: inherit;}
.rules > div a:hover {text-decoration: underline; color: inherit; background-color: #EAEAEA;}
.rules > div .active > a {font-size: 1.1em; text-decoration: underline; color: inherit;}
.rules > p a {font-weight: bold; border-bottom: 1px solid #5C6D4B; text-decoration: none; color: inherit;}
.rules > div a.button2 {font-size: 1.0em; color: #364626;}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
	.rules > p a {font-weight: bold; border-bottom: 1px solid #5C6D4B; text-decoration: none; color: inherit;}
}

p.post-notice {
	background-color: #B4C58F;
	background-image: none;
	filter: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #B3C897;
	background-image: none;
	filter: none;
}

ul.topiclist li {
	color: #000000;
}

ul.topiclist dd {
	border-left-color: #CCC;
}

.rtl ul.topiclist dd {
	border-right-color: #181818;
	border-left-color: transparent;
}

li.row {
	border-top-color: transparent;
	border-bottom-color: #000000;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #B3C897;
}

li.row:hover dd {
	border-left-color: #86A161;
}

.rtl li.row:hover dd {
	border-right-color: #181818;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #D9F2C3;
	padding-top: 2px;
	padding-bottom: 2px;
	text-transform: none;
	font-size: 1.2em;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #000000;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #000000;
}

.content h2, .panel h2 {
	color: #000000;
	border-bottom-color: #E6E6E6;
}

dl.faq dt {
	color: #000000;
}

.posthilit {
	background-color: #24510D;
	color: #FAFAFA;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #181818;
}

/* Post noticies */
.notice {
	border-top-color: #E6E6E6;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #B5C99B;
	border-color: #22782F;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #BCD39F;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #C1D3A9;
}

/* Code block */
.codebox {
	background-color: #D9E0CB;
	border-color: #588542;
}

.codebox p {
	border-bottom-color: #588542;
}

.codebox code {
	color: #000002;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #C3D5AD;
	border-color: #146300;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #146300;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #146300;
}

/* Inline image thumbnails */

dl.file dd {
	color: #003900;
}

dl.thumbnail img {
	border-color: #146300;
	background-color: #C3D5AD;
}

dl.thumbnail dd {
	color: #003900;
}

dl.thumbnail dt a:hover {
	background-color: #B3C897;
}

dl.thumbnail dt a:hover img {
	border-color: #181818;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #C4C4C4;
	color: #000000;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #000000;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #BCD39F;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar1 {
	border-left-color: #181818;
}

.pollbar2 {
	background-color: #BCD39F;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar2 {
	border-left-color: #181818;
}

.pollbar3 {
	background-color: #BCD39F;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar3 {
	border-left-color: #181818;
}

.pollbar4 {
	background-color: #BCD39F;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar4 {
	border-left-color: #181818;
}

.pollbar5 {
	background-color: #BCD39F;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar5 {
	border-left-color: #181818;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #000000;
	border-color: #181818;
}

.pm .postprofile {
	border-color: #010101;
}

.postprofile strong {
	color: #000000;
}

/*
.online {
	background-image: url("./en/icon_user_online.gif");
}
 */

.online {
	background-image: url("./images/icon_user_online.png");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #ABC686;
	background-color: #ABC686;
	background-image: -webkit-linear-gradient(top, #799564 0%, #BFD2AA 50%, #BFD2AA 51%, #799564 100%);
	background-image: linear-gradient(to bottom, #799564 0%, #BFD2AA 50%, #BFD2AA 51%, #799564 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0E0BA', endColorstr='#799564',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 0 1px transparent inset;
	box-shadow: 0 0 0 1px transparent inset;
	text-shadow: none;
}

.button:hover,
.button:focus {
	border-color: #710009;
	background-color: #ABC686;
	background-image: -webkit-linear-gradient(top, #799564 0%, #BFD2AA 50%, #BFD2AA 51%, #799564 100%);
	background-image: linear-gradient(to bottom, #799564 0%, #BFD2AA 50%, #BFD2AA 51%, #799564 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0E0BA', endColorstr='#799564',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 0 1px transparent inset;
	box-shadow: 0 0 0 1px transparent inset;
	text-shadow: none;
	color: #710009;
}

.button .icon,
.button-secondary {
	color: #010101;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #010101;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #ABC686;
}

.caret	{ border-color: #006000; }
.caret:hover	{ border-color: #710009; }

.contact-icons a		{ border-color: #DCDCDC; background-color: #ADCF5F; }
.contact-icons a:hover	{ background-color: #D0E0BA; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #D0E0BA;
	filter: none;
	border-color: #006600;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #486824;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #346000;
}

.pagination li.active span {
	background: #D0E0BA;
	border-color: #86B786;
	color: #486824;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #D0E0BA;
	border-color: #ADCF5F;
	filter: none;
	color: #486824;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #486824;
}

.search-header {
	box-shadow: 0 0 14px transparent;
}

.search-results li:hover,
.search-results li.active {
	background-color: #71AC55;
}

.search-box .inputbox {
	background-image: none;
	filter: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 24px;
	padding: 3px;
	box-shadow: 0 0 12px #333333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 160px;
}

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #181818;
}

.panel-container .panel li.row {
	border-bottom-color: #181818;
	border-top-color: #66A22E;
}

ul.cplist {
	border-top-color: #66A22E;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #191919;
}

.panel-container table.table1 thead th {
	color: #000000;
	border-bottom-color: #000000;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #E2BC83;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #91AA7A;
	color: #000001;
}

.tabs .tab > a:hover {
	background: #D0E0BA;
	color: #000000;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #D0E0BA; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #D0E0BA 0%, #799564 100%);
	background-image: linear-gradient(to bottom, #D0E0BA 0%,#799564 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0E0BA', endColorstr='#799564',GradientType=0 ); /* IE6-9 */
	border-color: #333333;
	box-shadow: 0 1px 1px #799564 inset;
	color: #191919;
}

.tabs .activetab > a:hover {
	color: #333333;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #DEDEDE;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #000001;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #3F5B36;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #191919;
	background: #D0E0BA;
	background: -webkit-linear-gradient(left, #D0E0BA 50%, #87A372 100%);
	background: linear-gradient(to right, #D0E0BA 50%, #87A372 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#799564', endColorstr='#87A372', GradientType=1 );
}

.rtl .navigation a {
	color: #191919;
	background: #D0E0BA;
	background: -webkit-linear-gradient(left, #87A372 0%, #D0E0BA 50%);
	background: linear-gradient(to right, #87A372 0%, #D0E0BA 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87A372', endColorstr='#799564', GradientType=1 );
}

.navigation a:hover {
	background-color: #AEBA9E;
	color: #010101;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	color: #010101;
	background: #7F9562;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	color: #333;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #D0E0BA;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #B4C89E;
}

.cp-main .pm {
	background-color: #B4C89E;
}

/* Friends list */
.cp-mini {
	background-color: #B4C89E;
}

dl.mini dt {
	color: #000000;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #181818;
	border-right-color: #181818;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FFFF99;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #FFFFFF;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #FFCC66;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #FF0000;
}

/* Avatar gallery */
.gallery label {
	background: #6E823D;
	border-color: #CCCCCC;
}

.gallery label:hover {
	background-color: #90AB6E;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #D9E0CB;
	color: #000;
}

label {
	color: #000;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #394B19;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #B5BDB2;
}

input#password.inputbox,
input#username.inputbox {
	background: #C8CEC6;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #333333;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(16, 164, 242, 0.5);
}

#message {
	background-color: #BFD2AA;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #BFD2AA;
	border-color: #181818;
	color: #000000;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #181818;
}

.inputbox:focus {
	border-color: #181818;
	color: #000000;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #191919;
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #B7B7B7 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
	filter: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #181818;
	color: #000000;
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #B7B7B7 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #191919;
	color: #406313;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #A7AFA0;
	border-color: #999999;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #BFD2AA;
	color: #313131;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #9CBA10;
	background-image: -webkit-linear-gradient(top, #D0E0BA 0%, #87A372 100%);
	background-image: linear-gradient(to bottom, #D0E0BA 0%,#87A372 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0E0BA', endColorstr='#87A372',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px transparent;
	border-radius: 0px;
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #90AB6E transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #90AB6E transparent;
}

.dropdown .dropdown-contents {
	background-color: #6E823D;
	box-shadow: 1px 3px 5px rgba(12, 48, 9, 0.7);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(72, 122, 67, 0.67);
}

.dropdown li, .dropdown li li {
	border-color: transparent;
}

.dropdown li.separator {
	border-color: transparent;
}

/* Notifications Common - ADDs
---------------------------------------- */
.dropdown-extended .dropdown-contents {
	max-width: 320px;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #D30034;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #B53616;
}

/* Another ADDs Common, Content, Responsive, Button, Icons 
--------------------------------------------------------------- */
.wrap {
	max-width: 1366px;
}

.row .pagination {
	margin-top: 4px;
	margin-bottom: 4px;
}

.action-bar {
	margin: 14px 0;
}

.fa-external-link-square::before {
	content: "\f0ea";
	color: #006000;
}

.fa-external-link::before {
	content: "\f08e";
	color: #27522E;
}

.fa-commenting-o::before {
	content: "\f248";
	color: #006000;
}

.fa-chevron-circle-up::before {
	content: "\f139";
	color: #006000;
}

.fa-file-o::before {
	content: "\f016";
	color: #27522E;
}

.fa-question::before {
	color: orange;
}

.postprofile dd, .postprofile dt {
	line-height: 1.8em;
}

.dropdown li {
	background-color: #BFC6BC;
	color: #010101;
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("./images/subforum_unread.gif");
	background-repeat: no-repeat;
	font-style: italic;
	padding-left: 16px;
	color: #6C1911;
}

dl.row-item dt {
	background-position: 5px 96%;
	background-repeat: no-repeat;
	background-size: 17px auto;
}

dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 42px auto;
}

dl.row-item dt .list-inner {
	padding-left: 60px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 45px;
}

.postbody h3 img {
	vertical-align: sub;
}

.badge {
	background-color: #22782F;
	border-radius: 10px;
	opacity: 0.8;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	float: right;
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	padding: 4px 6px;
	color: #FCFCD0;
}

.badge.hidden {
	display: none;
}

/* Another ADDs */

li.header dt, li.header dd {
	padding-top: 2px;
	padding-bottom: 2px;
	text-transform: none;
	font-size: 1.2em;
}

.headerbar {
	border-radius: 4px;
}

.wrap, .navbar, .forabg, .forumbg, .panel, .post {
	border-radius: 0px;
}

.forabg, .forumbg {
	padding: 5px 10px 6px 10px;
}

.post {
	border: 1px solid #000000;
}

.dropdown .dropdown-contents {
	border-radius: 0px;
}

.dropdown-contents a {
	display: block;
	padding: 7px;
	margin: 1px;
}

fieldset.display-options label {
	color: #F3F3F3;
}

.button {
	color: #305309;
	border: 1px solid #687957;
	border-radius: 0px;
}

a.button1, input.button1 {
	font-weight: normal;
}

.submit-buttons input#agreed {
	font-weight: normal;
}

.icon, .button .icon {
	color: #006000;
}

.search-header {
	margin-top: 24px;
}

#sitelogoheaderbarback {
	background-image: url("./images/logoheaderbarback746x114a.jpg");
	background-position: 50% 54%;
	background-repeat: no-repeat;
	text-align: center;
	min-height: 114px;
}

#sitefooterflowers_cr {
	background-image: url("./images/flowers.png");
	margin-top: 12px;
	background-position: 50% 54%;
	background-repeat: no-repeat;
	text-align: center;
	min-height: 42px;
	clear: both;
}

.thegardens_childblock_left {
	float: left;
	margin-top: 8px;
	margin-bottom: 6px;
	width: 60%;
}

.thegardens_childblock_right {
	float: right;
	margin-top: 8px;
	margin-bottom: 6px;
}

.logo {
	padding: 18px 13px 0 12px;
}

.site_logo {
	background-image: url("./images/littlelogo.png");
}

.site_logo {
	background-repeat: no-repeat;
	display: inline-block;
	width: 39px;
	height: 50px;
}

.logo {
	float: left;
	width: auto;
	padding: 14px 10px 0 8px;
	transform: rotate(-38deg);
	margin-left: -8px;
	margin-top: -78px;
}

.dividerthg {
	background-image: url("./images/postdivider.png");
	background-repeat: no-repeat;
	border: none;
	width: 698px;
	height: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

dd input[type="number"] { background: #99B57A; font-size: 1.2em; padding: 6px; color: #394B19; }

#ch {
	background: #99B57A;
	font-size: 1.1em;
	padding: 4px;
	border-color: #394B19;
	color: #394B19;
}

#footer_block_wrapperthg {
	margin-left: auto;
	margin-right: auto;
	margin-top: 19px;
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#footer_block_wrapperthg img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* Prevent horizontal scrollbars on thumbnails-responsive e.q. IE11 not working anymore smaller 701px so we need a workaround content-css
-------------------------------------------------------------------------------------------------------------------------------------------- */
dl.thumbnail dt a img {
	width: 100%;
	height: auto;
}

/*
--------------------------------------------------------------
Additional css for Theme changes thegardenschild
-------------------------------------------------------------- */

/* topline cells ================================== */
#topline_block {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: both;
}

.topline-l {
	background-image: url("./images/topline/tll.jpg");
	background-repeat: no-repeat;
	height: 52px;
	float: left;
	width: 314px;
	padding: 0px;
}

.topline-m {
	background-image: url("./images/topline/tl-mid.jpg");
	background-repeat: repeat;
	height: 52px;
	margin: 0px 314px 0px 314px;
	width: auto;
	padding: 0px;
	text-align: center;
}

.topline-r {
	background-image: url("./images/topline/tlr.jpg");
	background-repeat: no-repeat;
	height: 52px;
	float: right;
	margin-top: -52px;
	width: 314px;
	padding: 0px;
}

/* ================================================================================ */

/* design cells ================================== */
#design_block {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: both;
}

#design-text {
	padding-top: 1px;
	color: #DFE9D7;
}

.design-text a:link {
	color: #DFE9D7;
}

.design-text a:hover {
	color: #DFE9D7;
	text-decoration: none;
}

.design-text a:visited {
	color: #DFE9D7;
}

.design-l {
	background-image: url("./images/design/menu-left.jpg");
	background-repeat: no-repeat;
	height: 19px;
	float: left;
	width: 209px;
	padding: 0px;
}

.design-m {
	background-image: url("./images/design/menu-mid.jpg");
	background-repeat: repeat;
	height: 19px;
	width: auto;
	margin: 0px 209px 0px 209px;
	padding: 0px;
	text-align: center;
}

.design-r {
	background-image: url("./images/design/menu-right.jpg");
	background-repeat: no-repeat;
	height: 19px;
	float: right;
	margin-top: -19px;
	width: 209px;
	padding: 0px;
}

.topwrap_block {
	background-image: url("./images/topwrap.jpg");
	background-repeat: repeat;
	height: 32px;
}

.bottomwrap_block {
	background-image: url("./images/bottomwrap.jpg");
	background-repeat: repeat;
	height: 32px;
}

/* ================================================================================ */

/* logo cells ================================== */
#logo_block {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: both;
}

.logo-l {
	background-image: url("./images/logo/logo-left.jpg");
	background-repeat: no-repeat;
	height: 122px;
	float: left;
	width: 170px;
	padding: 0px;
}

.logo-m {
	background-image: url("./images/logo/logo-mid.jpg");
	background-repeat: repeat;
	height: 122px;
	margin: 0px 170px 0px 170px;
	width: auto;
	padding: 0px;
}

.logo-r {
	background-image: url("./images/logo/logo-right.jpg");
	background-repeat: no-repeat;
	height: 122px;
	float: right;
	margin-top: -122px;
	width: 170px;
	padding: 0px;
}

#logo_thg_login {
	background-repeat: no-repeat;
	width: 100%;
	height: 53px;
	padding: 0px;
	margin: 24px auto;
	text-align: center;
	clear: both;
}

#logo_thg_login img {
	box-shadow: 0px 0px 14px 4px rgba(114, 98, 9, 0.8);
}

/* ================================================================================ */

/* Border Frame cells - the gradient backgrounds ================================== */
#border_block {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	clear: both;
}

#borderleft {
	background-image: url("./images/frame/bsl.jpg");
	background-repeat: repeat-y;
	background-position: left;
}

#borderright {
	background-image: url("./images/frame/bsr.jpg");
	background-repeat: repeat-y;
	background-position: right;
}

/* ================================================================================ */

/* Footer Top cells ================================== */
#footer-top_block {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: both;
	overflow: auto;
}

.foot-top-l {
	background-image: url("./images/footertop/foot-top-l.jpg");
	background-repeat: no-repeat;
	height: 78px;
	float: left;
	width: 155px;
	padding: 0px;
}

.foot-top-m {
	background-image: url("./images/footertop/foot-top-m.jpg");
	background-repeat: repeat;
	height: 78px;
	width: auto;
	margin: 0px 155px 0px 155px;
	padding: 0px;
}

.foot-top-r {
	background-image: url("./images/footertop/foot-top-r.jpg");
	background-repeat: no-repeat;
	height: 78px;
	float: right;
	margin-top: -78px;
	width: 155px;
	padding: 0px;
}

/* ================================================================================ */

/* footer cells ================================== */
#footer_block {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	padding: 0px;
	width: 100%;
	clear: both;
}

.foot-l {
	background-image: url("./images/footer/foot-l.jpg");
	background-repeat: no-repeat;
	height: 32px;
	float: left;
	width: 335px;
	padding: 0px;
}

.foot-m {
	background: url("./images/footer/foot-m.jpg");
	background-repeat: repeat;
	height: 32px;
	margin: 0px 335px 0px 335px;
	width: auto;
	padding: 0px;
}

.foot-r {
	background-image: url("./images/footer/foot-r.jpg");
	background-repeat: no-repeat;
	height: 32px;
	float: right;
	margin-top: -32px;
	width: 335px;
	padding: 0px;
}
/* ================================================================================ */

/* Content container styles
----------------------------------------*/
#content_main {
	color: #000000;
	margin-left: 34px;
	margin-right: 34px;
	clear: both;
	padding: 0px;
	overflow: visible;
}

.content h2, .panel h2 {
	color: #000000;
	border-bottom-color: #2A4C2E;
}

/* body filler styles
----------------------------------------*/
.bodyfill {
	background-color: #DADDDA;
}

/* ================================================================================ */

/* ADDs responsive design
----------------------------- */
@media (min-width: 701px) {
	.thgsloganimg {
	background: url("./images/thgch-slogan.png");
	background-repeat: no-repeat;
	width: 68px;
	height: 80px;
	float: left;
	padding-right: 6px;
	}
	.thgslogan {
	display: block;
	text-decoration: none;
	}
	.postbody {
	width: calc(100% - 208px - 1px - 16px);
	}
	.postprofile {
	width: 208px;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	h1 {
	font-size: 1.4em;
	text-align: left;
	}
	p.thg_childsitedescription {
	font-size: 1.2em;
	text-align: left;
	}
	.logo {
	display: block;
	padding: 8px;
	}
	.thegardens_childblock_left {
	width: 99%;
	}
	blockquote {
	margin: 1em 1px 1em 4px;
	}
	fieldset.display-actions {
	text-align: left;
	}
	fieldset.display-actions label {
	padding-right: 2px;
	margin-top: 6px;
	white-space: normal;
	}
	fieldset.display-actions label {
	padding: 12px 10px 8px 2px;
	white-space: normal;
	}
	.dividerthg, .design-l, .design-m, .design-r, .foot-l, .foot-m, .foot-r, .foot-top-l, .foot-top-m, .logo-l, .logo-m, .logo-r, .topline-l, .topline-m, .topline-r {
	display: none;
	}
}

@media only screen and (max-width: 825px), only screen and (max-device-width: 825px) {
	.wrap {
	max-width: 1152px;
	}
	#sitelogoheaderbarback {
	background-size: auto 56%;
	max-height: 50px;
	}
}

@media only screen and (max-width: 875px), only screen and (max-device-width: 875px) {
	body {
	background-image: none;
	filter: none;
	padding: 0;
	}
	#content_main {
	color: #333333;
	clear: both;
	padding: 0px;
	overflow: visible;
	}
	.dividerthg, .design-l, .design-m, .design-r, .logo-l, .logo-m, .logo-r, .topline-l, .topline-m, .topline-r {
	display: none;
	}
	select, .inputbox {
	max-width: 240px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	.logo {
	float: left;
	width: auto;
	padding: 14px 10px 0 8px;
	transform: rotate(-56deg);
	margin-left: -8px;
	margin-top: -56px;
	}
	dl.row-item dt a {
	display: inline;
	line-height: 1.55em;
	}
}

/* ToDo - Supplement, edit your own works here - ADDs print help output the page (Browser-Print-Page)
---------------------------------------------------------------------------------------------------------- */
@media print {
html, body {width: 100% !important; height: 100% !important; padding: 0 !important; margin: 0 !important; font-family: "times new roman", times, serif; font-size: 90%; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
h1, h2, h3, h1 a, h2 a, h3 a, solo {font-family: "times new roman", times, serif; font-size: 88%; color: #000000; background: none; text-decoration: none; border: none; font-weight: normal;}
.headerbar, .logo, #logo_thg_login, .thegardens_childblock_left, .thegardens_childblock_right, #jumpbox, ul.post-buttons, a.top, #top, .postprofile, .signature, .signature a {display: none;}
html, body, h1, h2, h3, h1 a, h2 a, h3 a, solo, .page-header, .wrap, #wrap, .forabg, .forumbg {font-size: 88%; text-decoration: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
img, .site-description img, div > .navbar, form.headerspace, fieldset.quick-login, .stat-block, .online-list, .birthday-list, .statistics, #design_block, #logo_block, #footer-top_block, #footer_block, .topwrap_block, .bottomwrap_block, .action-bar, .bar-bottom {display: none;}
.copyright {text-align: left;  margin-top: 12px; padding: 14px 0px 10px 12px; color: #000000;}
div.rules, a, a.mark, a.mark-read, a.arrow-right, a.arrow-left, .search-header, .search-box .inputbox, .panel, .post {border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
.button {background-color: transparent; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none;}
.button, a.button1, input.button1, input.button3, a.button2, input.button2 {background-color: transparent; background-image: none; filter: none; border: none; color: #000000;}
ul.topiclist li.row dd {padding: 4px 0 9px 0; margin-bottom: 8px; border: none;}
}
