	<div class="navbar">
		<div class="inner dvg-bc">
			<ul class="linklist">
				<li><span><span><a class="dvg-bc" href="{U_INDEX}">{L_INDEX}</a></span></span></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li>&#8250;&nbsp;<span><span><a class="dvg-bc" href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></span></span></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li>&#8250;&nbsp;<span><span><a class="dvg-bc" href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></span></span></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li>&#8250;&nbsp;<span><span><a class="dvg-bc" href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></span></span></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li>&#8250;&nbsp;<span><span><a class="dvg-bc" href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></span></span></li><!-- ENDIF -->
				<!-- ENDIF -->
				<li class="rightside"><!-- IF U_TEAM --><span><span><a class="dvg-bc" href="{U_TEAM}">{L_THE_TEAM}</a></span></span>&nbsp;<!-- ENDIF --><!-- IF not S_IS_BOT --><span><span><a class="dvg-bc" href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a></span></span><!-- ENDIF --></li>
			</ul>
		</div>
	</div>

	<div class="copyright">{CREDIT_LINE} | Cooperative by: <a href="http://gotskillslounge.com/">Prosk8er</a> &copy;
		<!-- IF U_ACP --><br /><span id="acp"><a href="{U_ACP}">{L_ACP}</a></span><!-- ENDIF -->
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	</div>

	</div>
	</div></div></div>
	</div>

	<!-- INCLUDE sidebar.html -->

	<!-- INCLUDE bottom-modules.html -->

	<div id="page-footer">
		<div>
			<a id="bottom" name="bottom" accesskey="z"></a>
			<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
		</div>
	</div>

	</div></div></div>
</div>

</body>
</html>