<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{SITENAME} &#8249; <!-- IF S_IN_MCP -->{L_MCP} &#8249; <!-- ELSEIF S_IN_UCP -->{L_UCP} &#8249; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<!--
	phpBB style name: Cooperative
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:      Prosk8er ( http://gotskillslounge.com/ )
-->

<script type="text/javascript">
// <![CDATA[
	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
		var url = '{UA_POPUP_PM}';
		window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
	<!-- ENDIF -->

	/**
	* Find a member
	*/
	function find_username(url)
	{
		popup(url, 760, 570, '_usersearch');
		return false;
	}

	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	};

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	};

// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/styleswitcher.js"></script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>

<link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />

<link href="{T_THEME_PATH}/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="{T_THEME_PATH}/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="{T_THEME_PATH}/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

</head>

<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">

<div id="page-header">
	<a id="top" name="top" accesskey="t"></a>
	<div id="logodesc">
		<div id="topinner">
			<div class="container_12">
				<div class="grid_4">
					<a href="{U_INDEX}">{SITE_LOGO_IMG}</a>
				</div>
				<div class="grid_8">
					<div id="topmod">
						<div id="dvg-loginlinks">
							<!-- IF not S_USER_LOGGED_IN -->
								<a href="{U_INDEX}"><span class="top-home">{L_INDEX}</span></a>
								<a href="{U_FAQ}"><span class="top-faq">{L_FAQ}</span></a>
								<!-- IF S_DISPLAY_SEARCH --><a href="{U_SEARCH}"><span class="top-search">{L_SEARCH}</span></a><!-- ENDIF -->
								<!-- IF not S_IS_BOT -->
									<a href="{U_LOGIN_LOGOUT}"><span class="top-login">{L_LOGIN}</span></a>
									<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><a href="{U_REGISTER}"><span class="top-register">{L_REGISTER}</span></a><!-- ENDIF -->
								<!-- ENDIF -->
							<!-- ENDIF -->
							<!-- IF S_USER_LOGGED_IN -->
								<a href="{U_PROFILE}"><strong>{S_USERNAME}</strong></a>:
								<a href="{U_PROFILE}"><span class="top-profile">{L_PROFILE}</span></a>&nbsp;
							<!-- ENDIF -->
							<!-- IF S_DISPLAY_PM --><a href="{U_PRIVATEMSGS}"><span class="top-pm">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></span></a>&nbsp;<!-- ENDIF -->
							<!-- IF S_USER_LOGGED_IN and not S_IS_BOT --><a href="{U_LOGIN_LOGOUT}"><span class="top-logout">{L_LOGOUT}</span></a><!-- ENDIF -->
						</div>

						<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and not (S_SHOW_COPPA or S_REGISTRATION) -->
							<div id="dvg-loginform">
								<form method="post" action="{S_LOGIN_ACTION}">
									<fieldset class="quick-login">
										<p id="form-quicklogin">
											<label for="username"><img src="{T_THEME_PATH}/images/top/profile.gif" alt="{L_USERNAME}" /></label><input type="text" name="username" id="username" class="inputbox" title="{L_USERNAME}" value="{L_USERNAME}" onclick="if(this.value=='{L_USERNAME}')this.value='';" onblur="if(this.value=='')this.value='{L_USERNAME}';" />  
											<label for="password"><img src="{T_THEME_PATH}/images/top/lock.gif" alt="{L_PASSWORD}" /></label><input type="password" name="password" id="password" class="inputbox" title="{L_PASSWORD}" value="{L_PASSWORD}" onclick="if(this.value=='{L_PASSWORD}')this.value='';" onblur="if(this.value=='')this.value='{L_PASSWORD}';" />
											<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
											<!-- IF S_AUTOLOGIN_ENABLED --><!--<br /><label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>--><!-- ENDIF -->
										</p>
										{S_LOGIN_REDIRECT}
									</fieldset>
								</form>
							</div>
						<!-- ENDIF -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="menubar">
		<div id="menubar-bottom">
			<div class="container_12">
				<ul id="navmenu">
					<li class="first"><a href="{U_INDEX}">{L_INDEX}</a></li>
					<!-- IF S_DISPLAY_SEARCH --><li><a href="{U_SEARCH}">{L_SEARCH}</a></li><!-- ENDIF -->
					<li><a href="{U_FAQ}">{L_FAQ}</a></li>
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not S_IS_BOT --><li><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
					<!-- IF not S_IS_BOT --><li class="last"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li><!-- ENDIF -->
				</ul>
			</div>
		</div>
	</div>
</div> 

<div id="wrap" class="container_12">
	<div id="top-maincol"><div id="maincol"><div id="bot-maincol">
	<a name="start_here"></a>
	<div id="page-body" class="grid_9">
	<div id="main-content"><div id="main-content-top"><div id="main-content-bot">
	<div class="content-innerpadding">
		<div class="content-spacing dvg-bc">
			<ul class="linklist">
				<li><span><span><a class="dvg-bc" href="{U_INDEX}" accesskey="h">{L_INDEX}</a></span></span></li>
				<!-- BEGIN navlinks --><li>&#8250;&nbsp;<span><span><a class="dvg-bc" href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></span></span></li><!-- END navlinks -->
				<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_TOPIC --><li class="rightside"><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_PM --><li class="rightside"><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
				<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" onkeypress="return fontsizeup(event);" class="fontsize" title="{L_CHANGE_FONT_SIZE}">{L_CHANGE_FONT_SIZE}</a></li>
			</ul>
		</div>
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner"><span class="corners-top-post"><span></span></span>
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			<span class="corners-bottom-post"><span></span></span></div>
		</div>
		<!-- ENDIF -->
