<div id="side-right" class="grid_3">
	<!-- IF not S_IS_BOT -->
	<div class="module">
		<div><div>
			<div class="innerpadding">
				<h1 class="sidemenu">{L_PROFILE}</h1>
				<ul class="sidemenu">
					<li><a href="{U_FAQ}">{L_FAQ}</a></li>
					<!-- IF S_DISPLAY_MEMBERLIST --><li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
					    <li><a href="{U_PROFILE}">{L_PROFILE}</a></li>
					    <!-- IF S_DISPLAY_SEARCH --><li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
					    <!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a></li><!-- ENDIF -->
						<!-- IF U_MCP--><li><a href="{U_MCP}">{L_MCP}</a></li><!-- ENDIF -->
						<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
					<!-- ENDIF -->
					<!-- IF not S_USER_LOGGED_IN --><li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN}</a></li><!-- ELSE --><li><a href="{U_LOGIN_LOGOUT}">{L_LOGOUT}</a></li><!-- ENDIF -->
				</ul>
			</div>
		</div></div>
	</div>
	<!-- ENDIF -->

	<!-- Search -->
	<!-- IF S_DISPLAY_SEARCH -->
	<div class="module">
		<div><div>
			<div class="innerpadding">
				<h1 class="sidemenu">{L_SEARCH}</h1>
				<ul class="sidemenu">
					<li><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a></li>
					<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
					    <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
					    <!-- IF S_LOAD_UNREADS --><li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
					    <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
					    <li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
					<!-- ENDIF -->
				</ul>
			</div>
		</div></div>
	</div>
	<!-- ENDIF -->
</div>