/*** Online image ***/
/* 
.online { background-image: url("./icon_user_online.gif"); }
 */

/* Online bg */
.online { background: radial-gradient(circle closest-corner at 82% 0.2%, #EAD88F, #F8EFC9, transparent); }

/* Online - Offline text in viewprofile */
.online_textline {
	display: inline-block;
	font-size: 114%;
	font-weight: bold;
	color: #094813;
	line-height: 30px;
	width: 100%;
	margin-bottom: 1.25rem;
}

.offline_textline {
	display: inline-block;
	font-size: 114%;
	font-weight: bold;
	color: #A33026;
	line-height: 30px;
	width: 100%;
	margin-bottom: 1.25rem;
}
