/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #FFFFFF;
	background-color: #2E2E31;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #FFFFFF;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #EAE5E5; }
a:hover { color: #CCCCCC; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #EAE5E5;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #CCCCCC;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #272727;
}

/* Post body links */
.postlink {
	border-bottom-color: #EAE5E5;
	color: #EAE5E5;
}

.postlink:visited {
	border-bottom-color: #EAE5E5;
	color: #EAE5E5;
}

.postlink:hover {
	color: #CCCCCC;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #CCCCCC;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background: #2E2E31 url("./images/background.png") center repeat-y;
}

.headerbar {
	background: #2E2E31 url("./images/header.png") repeat-x;
	color: #FFFFFF;
}

.forumbg, .forabg {
	background-color: #000000;
	background: url("./images/cellpic1.png") repeat-x;
	border: 1px solid #000000;
}

.navbar, .panel {
	background: #2E2E31 url("./images/row.png") repeat-x;
	border: 1px solid #000000;
}

.post:target .content {
	color: #FFFFFF;
}

.post h3 a.first-unread,
.post:target h3 a {
	color: #EAE5E5;
}

.bg1, .bg2, .bg3 {
	background-image: url("./images/row.png");
	background-repeat: repeat-x;
	background-color: #2E2E31;
	border: 1px solid #000000;
	padding: 4px
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd),
table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-image: url("./images/row.png");
	background-repeat: repeat-x;
	background-color: #2E2E31;
	border: 1px solid #000000;
	padding: 4px
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site_logo {
	background-image: url("./images/site_logo.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}

table.table1 td {
	color: #FFFFFF;
}

table.table1 tbody td {
	border-top-color: #000000;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #FFFFFF;
}

dl.details dd {
	color: #DADADA;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #000000;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #FFFFFF;
}

.jumpbox-cat-link {
	background-color: #465968;
	border-top-color: #465968;
	color: #FFFFFF;
}

.jumpbox-cat-link:hover {
	background-color: #465968;
	border-top-color: #465968;
	color: #CCCCCC;
}

.jumpbox-forum-link {
	background-color: #2E2E31;
}

.jumpbox-forum-link:hover {
	background-color: #2E2E31;
	color: #CCCCCC;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #2E2E31 transparent;
}

.jumpbox-sub-link {
	background-color: #2E2E31;
}

.jumpbox-sub-link:hover {
	background-color: #2E2E31;
	color: #CCCCCC;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #EAE5E5;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #465968;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #2E2E2E;
	background-image: none;
	border: 1px solid #000000;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.topiclist li {
	color: #FFFFFF;
}

ul.topiclist dd {
	border-left-color: #000000;
}

.rtl ul.topiclist dd {
	border-right-color: #000000;
	border-left-color: transparent;
}

li.row {
	background-image: url("./images/row.png");
	background-repeat: repeat-x;
	background-color: #2E2E31;
	border-top: 1px solid #000000;
}

li.row strong {
	color: #FFFFFF;
}

li.row:hover dd {
	border-left-color: #000000;
}

.rtl li.row:hover dd {
	border-right-color: #000000;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #EAE5E5;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #FFFFFF;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #FFFFFF;
}

.content h2, .panel h2 {
	color: #FFFFFF;
	border-bottom-color: #CCCCCC;
}

dl.faq dt {
	color: #FFFFFF;
}

.posthilit {
	background-color: #344553;
	color: #368AD2;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color: #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #272727;
	border-color: #616367;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #404040;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #222222;
}

/* Code block */
.codebox {
	background-color: #2E2E2E;
	border-color: #111111;
}

.codebox p {
	border-bottom-color: #CCCCCC;
}

.codebox code {
	color: #FAFAFA;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #2E2E2E;
	border-color: #111111;
}

.pm-message .attachbox {
	background-color: #2E2E2E;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #808080;
}

.attachbox p.stats {
	color: #808080;
}

.attach-image img {
	border-color: #111111;
}

/* Inline image thumbnails */

dl.file dd {
	color: #808080;
}

dl.thumbnail img {
	border-color: #111111;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #808080;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #FFFFFF;
}

fieldset.polls dl.voted {
	color: #FFFFFF;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
	border-left-color: #656565;
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	background-color: #656565;
	border-bottom-color: #656565;
	border-right-color: #656565;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #EAE5E5;
	border-color: #000000;
}

.pm .postprofile {
	border-color: #000000;
}

.postprofile strong {
	color: #EAE5E5;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

.offline {
	background-image: url("./en/icon_user_offline.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	background-color: #121e2a; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #465968 0%, #121e2a 100%);
	background-image: linear-gradient(to bottom, #465968 0%,#121e2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465968', endColorstr='#121e2a',GradientType=0 ); /* IE6-9 */
	color: #FFFFFF;
}

.button:hover,
.button:focus {
	background-color: #465968; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #121e2a 0%, #465968 100%);
	background-image: linear-gradient(to bottom, #121e2a 0%,#465968 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121e2a', endColorstr='#465968',GradientType=0 ); /* IE6-9 */
	color: #CCCCCC;
}

.button .icon,
.button-secondary {
	color: #FFFFFF;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #CCCCCC;
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #C7C3BF; }

.contact-icons a	{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #324250;
	filter: none;
	border-color: #B4BAC0;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #EAE5E5;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #DADADA;
}

.pagination li.active span {
	background: #333333;
	border-color: #406D83;
	color: #FAFAFA;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #405260;
	border-color: #368AD2;
	filter: none;
	color: #CCCCCC;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #324250;
}

.search-header {
	box-shadow: 0 0 10px #0075B0;
}

.search-results li:hover,
.search-results li.active {
	background-color: #CFE1F6;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon						{ background-position: 0 0; }
.email-icon						{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon					{ background-position: -119px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.gif"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine				{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked					{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine				{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked					{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine				{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked					{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine				{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link						{ background-image: url("./images/forum_link.gif"); }
.forum_read						{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum					{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked					{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum					{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine				{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked					{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine				{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.gif"); }
.pm_read,
.topic_read						{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine					{ background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine					{ background-image: url("./images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine					{ background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked					{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine				{ background-image: url("./images/topic_unread_locked_mine.gif"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-bottom-color: #000000;
}

ul.cplist {
	border-top-color: #000000;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #FFFFFF;
}

.panel-container table.table1 thead th {
	color: #FFFFFF;
	border-bottom-color: #000000;
}

.cp-main .pm-message {
	border-color: #000000;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background-color: #111113; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #656565 0%, #111113 100%);
	background-image: linear-gradient(to bottom, #656565 0%,#111113 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#111113',GradientType=0 ); /* IE6-9 */
	color: #EAE5E5;
}

.tabs .tab > a:hover {
	background-color: #656565; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #111113 0%, #656565 100%);
	background-image: linear-gradient(to bottom, #111113 0%,#656565 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111113', endColorstr='#656565',GradientType=0 ); /* IE6-9 */
	color: #CCCCCC;
}

.tabs .activetab > a {
	background: #656565;
	color: #EAE5E5;
}

.tabs .activetab > a:hover {
	color: #CCCCCC;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #324250;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #656565;
	color: #CCCCCC;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a, .rtl .navigation a {
	color: #EAE5E5;
	background: #111113; /* Old browsers */ /* FF3.6+ */
	background: -webkit-linear-gradient(top, #656565 0%, #111113 100%);
	background: linear-gradient(to bottom, #656565 0%,#111113 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#111113',GradientType=1 ); /* IE6-9 */
}

.navigation a:hover {
	color: #CCCCCC;
	background: #656565; /* Old browsers */ /* FF3.6+ */
	background: -webkit-linear-gradient(top, #111113 0%, #656565 100%);
	background: linear-gradient(to bottom, #111113 0%,#656565 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111113', endColorstr='#656565',GradientType=1 ); /* IE6-9 */
}

.navigation .active-subsection a {
	background: #656565;
	color: #EAE5E5;
}

.navigation .active-subsection a:hover {
	color: #CCCCCC;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #111113;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #FFFFFF;
}

.panel-container .panel {
	background-color: #2E2E31;
}

.cp-main .pm {
	background-color: #2E2E31;
	border: 1px solid #000000;
}

/* Friends list */
.cp-mini {
	background-color: #2E2E31;
	border: 1px solid #000000;
}

dl.mini dt {
	color: #5D8FBD;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #898989 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #C60000;
	border-right-color: #C60000;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FEFDAD;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #FF6600;
}

/* Avatar gallery */
.gallery label {
	background: #656565;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #2E2E31;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #616167;
	background-color: #FAFAFA;
	color: #333333;
}

label {
	color: #FFFFFF;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #FFFFFF;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #CCCCCC;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #FOFOFO;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	background-color: #2E2E31;
	color: #EAE5E5;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #404040;
	border-color: #020202;
	color: #FAFAFA;
}

.inputbox:-moz-placeholder {
	color: #FAFAFA;
}

.inputbox::-webkit-input-placeholder {
	color: #FAFAFA;
}

.inputbox:hover {
	border-color: #020202;
}

.inputbox:focus {
	border-color: #020202;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #FFFFFF;
	border-radius: 8px;
	background-color: #121e2a; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #465968 0%, #121e2a 100%);
	background-image: linear-gradient(to bottom, #465968 0%,#121e2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465968', endColorstr='#121e2a',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	border-color: #000000;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #000000;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #000000;
	border-radius: 8px;
	color: #CCCCCC;
	background-color: #465968; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #121e2a 0%, #465968 100%);
	background-image: linear-gradient(to bottom, #121e2a 0%,#465968 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121e2a', endColorstr='#465968',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #000000;
	color: #CCCCCC;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #656565;
	border-color: #000000;
}
.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #000000;
}

.dropdown-extended ul li:hover {
	background-color: #2E2E31;
	color: #FFFFFF;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #000000;
	color: #FFFFFF;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #465968; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #465968 0%, #121e2a 100%);
	background-image: linear-gradient(to bottom, #465968 0%,#121e2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465968', endColorstr='#121e2a',GradientType=0 ); /* IE6-9 */
}

.dropdown .pointer {
	border-color: #000000 transparent;
}

.dropdown .pointer-inner {
	border-color: #2E2E31 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #465968 transparent;
}

.dropdown .dropdown-contents {
	background: #2E2E31;
	border-color: #000000;
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #CCCCCC;
}

.dropdown li.separator {
	border-color: #CCCCCC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #FFFFFF;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #5F85A8;
}

.badge {
	background-color: #5F85A8;
	color: #ffffff;
}
