{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "index" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px DarkOliveGreen;
	margin: 24px auto;
	padding: 4px;
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "mcp" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #568309;
	margin: 24px auto;
	padding: 4px;
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "memberlist" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #010101;
	margin: 24px auto;
	padding: 4px;
	}
	#sitelogotzmheaderbarvtthemechild {
	background-image: url("{{- ROOT_PATH -}}styles/vttheme/theme/images/vttheme_logos/logomeblankthird.jpg");
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "search" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #837909;
	margin: 24px auto;
	padding: 4px;
	}
	#sitelogotzmheaderbarvtthemechild {
	background-image: url("{{- ROOT_PATH -}}styles/vttheme/theme/images/vttheme_logos/logomeblankfifth.jpg");
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "app/help/faq" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #835209;
	margin: 24px auto;
	padding: 4px;
	}
	#sitelogotzmheaderbarvtthemechild {
	background-image: url("{{- ROOT_PATH -}}styles/vttheme/theme/images/vttheme_logos/logomeblank.jpg");
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "viewforum" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #D6C569;
	margin: 24px auto;
	padding: 4px;
	}
	#sitelogotzmheaderbarvtthemechild {
	background-image: url("{{- ROOT_PATH -}}styles/vttheme/theme/images/vttheme_logos/logomeblankfirst.jpg");
	}
</style>
{% endif %}

{% if T_TEMPLATE_NAME eq "vttheme" and SCRIPT_NAME == "viewtopic" %}
<style>
	div.boxshadow-specialtzmvtthemechild {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px #8A4700;
	margin: 24px auto;
	padding: 4px;
	}
</style>
{% endif %}
