/*
phpBB-3.3.x Style Sheet motorbike based on prosilver
----------------------------------------------------------------------
	Style name:			motorbike
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Talk19Zehn ( ongray-design.de )
----------------------------------------------------------------------
*/

html, body {
	color: #000000;
	background-color: #FAFAFA;
}

body {
	padding: 12px 8px;
}

h1 {
	color: #000000;
}

h2 {
	color: #000000;
}

h3 {
	border-bottom-color: #E6E6E6;
	color: #000000;
}

hr {
	border-color: #FAFAFA;
	border-top-color: #CCCCCC;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #000000; }
a:hover { color: #181818; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #010101;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #000000;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	border-bottom-color: #000000;
	color: #000000;
}

.postlink:visited {
	border-bottom-color: #181818;
	color: #000000;
}

.postlink:hover {
	background-color: #FAFAFA;
	color: #000000;
}

.signature a, .signature a:hover {
	background-color: transparent;
	color: #000000;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links */
.arrow-left:hover, .arrow-right:hover {
	color: #000000;
}

.ucp-title {
	background-color: #435517;
	background-image: url("./images/mbiketransp.png");
	background-repeat: no-repeat;
	background-position: 50% 20%;
	-webkit-box-shadow: 0 0 15px #627638;
	box-shadow: 0 0 15px #627638;
	border: 1px solid #84C89E;
	color: #FAFAFA;
	font-size: 1.3em;
	font-style: italic;
	margin: 1%;
	padding: 28px 12px;
	text-align: left;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #FAFAFA;
	border-color: #008000;
}

.headerbar {
	background-color: #CCCCCC;
	background-image: -webkit-linear-gradient(top, #CCC, #FFF, #CCC);
	background-image: linear-gradient(to bottom, #CCC, #FFF, #CCC);
	filter: none;
	background-repeat: repeat;
	color: #000000;
	margin-bottom: 0px;
}

.navbar {
	background-color: #E8E8E8;
	background-image: none;
	filter: none;
	border-bottom: 1px solid #008000;
}

.forabg {
	background-color: #E2E2E2;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
}

.forumbg {
	background-color: #E2E2E2;
	background-image: none;
	filter: none;
	background-repeat: repeat-x;
}

.panel {
	background-color: #E1E1E1;
	color: #000000;
}

.post:target .content {
	color: #000000;
}

/* 
.post h3 a.first-unread,
.post:target h3 a {
	color: #000000;
}
 */

.bg1 {
	background-color: #F3F3F3;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #EEEEEE;
}

.bg2 {
	background-color: #F3F3F3;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #EBEBEB;
}

.bg3 {
	background-color: #F3F3F3;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: transparent;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #000000;
}

table.table1 tbody tr {
	border-color: #000000;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #FAFAFA;
	color: #000;
}

table.table1 td {
	color: #000000;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #000000;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #000000;
}

.sep {
	color: #181818;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #8EA064;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1B9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #99A495;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #181818;
}

.jumpbox-cat-link {
	background-color: #000;
	border-top-color: #000;
	color: #FAFAFA;
}

.jumpbox-cat-link:hover {
	background-color: #171717;
	border-top-color: #171717;
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background-color: #E8E8E8;
}

.jumpbox-forum-link:hover {
	background-color: #FAFAFA;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #CCCCCC transparent;
}

.jumpbox-sub-link {
	background-color: #E8E8E8;
}

.jumpbox-sub-link:hover {
	background-color: #F3F3F3;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #000000;
}

.error {
	color: #AA0000;
}

.reported {
	background-color: #EFF2E3;
	background-image: none;
	filter: none;
}

li.reported:hover {
	background-color: #AFB7A5 !important;
	background-image: none;
	filter: none;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements */
}

div.rules {
	background-color: #D4D4D4;
	border: 2px solid #008000;
	border-radius: 0px;
	color: #3C690B;
}

.rules h3 {font-size: 1.2em; text-transform: none;}
.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
.rules > div a:visited {text-decoration: underline; color: inherit;}
.rules > div a:hover {text-decoration: underline; color: inherit; background-color: #E9E9E9;}
.rules > div .active > a {font-size: 1.1em; text-decoration: underline; color: inherit;}
.rules > p a {font-weight: bold; border-bottom: 1px solid #7C9E75; text-decoration: none; color: inherit;}
.rules > div a.button2 {font-size: 1.0em; color: #191919;}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
	.rules > p a {font-weight: bold; border-bottom: 1px solid #7C9E75; text-decoration: none; color: inherit;}
}

p.post-notice {
	background-color: #C3CED9;
	background-image: none;
	filter: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #F3F3F3;
	background-image: none;
	filter: none;
}

ul.topiclist li {
	color: #000000;
}

ul.topiclist dd {
	border-left-color: #CCC;
}

.rtl ul.topiclist dd {
	border-right-color: #181818;
	border-left-color: transparent;
}

li.row {
	border-top-color: transparent;
	border-bottom-color: #000000;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #F3F3F3;
}

li.row:hover dd {
	border-left-color: #E2E2E2;
}

.rtl li.row:hover dd {
	border-right-color: #181818;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #000000;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #000000;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #000000;
}

.content h2, .panel h2 {
	color: #000000;
	border-bottom-color: #E6E6E6;
}

dl.faq dt {
	color: #000000;
}

.posthilit {
	background-color: #24510D;
	color: #FAFAFA;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #181818;
}

/* Post noticies */
.notice {
	border-top-color: #E6E6E6;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #CCCCCC;
	border-color: #181818;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEBEB;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #C0C0C0;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color: #CCCCCC;
}

.codebox code {
	color: #808080;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color: #181818;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C4C4C4;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #181818;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #C4C4C4;
	color: #000000;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #000000;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #FAFAFA;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar1 {
	border-left-color: #181818;
}

.pollbar2 {
	background-color: #FAFAFA;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar2 {
	border-left-color: #181818;
}

.pollbar3 {
	background-color: #FAFAFA;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar3 {
	border-left-color: #181818;
}

.pollbar4 {
	background-color: #FAFAFA;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar4 {
	border-left-color: #181818;
}

.pollbar5 {
	background-color: #FAFAFA;
	border-bottom-color: #181818;
	border-right-color: #181818;
}

.rtl .pollbar5 {
	border-left-color: #181818;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #000000;
	border-color: #8DB586;
}

.pm .postprofile {
	border-color: #8DB586;
}

.postprofile strong {
	color: #000000;
}

/*
.online {
	background-image: url("./en/icon_user_online.gif");
}
 */

.online {
	background-image: url("./images/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #EEEEEE;
	background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: linear-gradient(to bottom, #E9E9E9, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}

.button:hover,
.button:focus {
	border-color: #CCC;
	background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: linear-gradient(to bottom, #E9E9E9, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}

.button .icon,
.button-secondary {
	color: #010101;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #010101;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #CCC;
}

.caret	{ border-color: #DADADA; }
.caret:hover	{ border-color: #008000; }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #FAFAFA; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #FFFFFF;
	filter: none;
	border-color: #191919;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #000000;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #000000;
}

.pagination li.active span {
	background: #181818;
	border-color: #FAFAFA;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #191919;
	border-color: #000000;
	filter: none;
	color: #FFFFFF;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #CCCCCC;
}

.search-header {
	box-shadow: 0 0 10px #171717;
}

.search-results li:hover,
.search-results li.active {
	background-color: #D9D9D9;
}

.search-box .inputbox {
	background-image: none;
	filter: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 24px;
	padding: 3px;
	box-shadow: 0 0 10px #171717;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 162px;
}

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #181818;
}

.panel-container .panel li.row {
	border-bottom-color: #181818;
	border-top-color: #F3F3F3;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #191919;
}

.panel-container table.table1 thead th {
	color: #000000;
	border-bottom-color: #000000;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #B7B7B7;
	color: #000001;
}

.tabs .tab > a:hover {
	background: #E9E9E9;
	color: #000000;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #B7B7B7 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
	border-color: #333333;
	box-shadow: 0 1px 1px #CCCCCC inset;
	color: #191919;
}

.tabs .activetab > a:hover {
	color: #333333;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #DEDEDE;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #000001;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #536482;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #191919;
	background: #CCCCCC;
	background: -webkit-linear-gradient(left, #CCCCCC 50%, #B7B7B7 100%);
	background: linear-gradient(to right, #CCCCCC 50%, #B7B7B7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#B7B7B7', GradientType=1 );
}

.rtl .navigation a {
	color: #191919;
	background: #CCCCCC;
	background: -webkit-linear-gradient(left, #B7B7B7 0%, #CCCCCC 50%);
	background: linear-gradient(to right, #B7B7B7 0%, #CCCCCC 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#CCCCCC', GradientType=1 );
}

.navigation a:hover {
	background-color: #CCCCCC;
	color: #FAFAFA;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a {
	color: #010101;
	background: #CCCCCC;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	color: #FAFAFA;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #C5C5C5;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #F9F9F9;
}

.cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #E9E9E9;
}

dl.mini dt {
	color: #000000;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #181818;
	border-right-color: #181818;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FFFF99;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #8EA064;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #FFCC66;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #FF0000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #000;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #666;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F3F3F3;
}

input#password.inputbox,
input#username.inputbox {
	background: #EEEEEE;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #333333;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(16, 164, 242, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border-color: #181818;
	color: #000;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #181818;
}

.inputbox:focus {
	border-color: #808080;
	color: #000000;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #191919;
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #B7B7B7 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
	filter: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #181818;
	color: #000000;
	background-color: #E9E9E9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #E9E9E9 100%);
	background-image: linear-gradient(to bottom, #B7B7B7 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #191919;
	color: #406313;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #DADADA;
	border-color: #999999;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #C2C2C2;
	color: #313131;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #FFF 0%, #CCC 100%);
	background-image: linear-gradient(to bottom, #FFF 0%,#CCC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#CCC',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px transparent;
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #B9B9B9 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #DCDCDC transparent;
}

.dropdown .dropdown-contents {
	background: #FFF;
	border-color: #B9B9B9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: transparent;
}

.dropdown li.separator {
	border-color: transparent;
}

/* Notifications Common - ADDs
---------------------------------------- */
.dropdown-extended .dropdown-contents {
	max-width: 320px;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #1F5929;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #AA0000;
}

/* Common, Content, Responsive, Button, Icons another ADDs
--------------------------------------------------------------- */
.wrap {
	max-width: 1280px;
}

.row .pagination {
	margin-top: 4px;
	margin-bottom: 4px;
}

.action-bar {
	margin: 14px 0;
}

.fa-external-link-square::before {
	content: "\f0ea";
	color: #008000;
}

.fa-commenting-o::before {
	content: "\f248";
	color: #008000;
}

.postprofile dd, .postprofile dt {
	line-height: 1.8em;
}

.dropdown li {
	background-color: #DCDCDC;
	color: #010101;
}

li.header dt, li.header dd {
	font-size: 1.2em;
	text-transform: none;
}

dl.row-item dt {
	background-position: 5px 96%;
	background-repeat: no-repeat;
	background-size: 17px auto;
}

dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 42px auto;
}

dl.row-item dt .list-inner {
	padding-left: 60px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 45px;
}

.forum_unread a.forumtitle, .forum_unread_locked a.forumtitle, .forum_unread_subforum a.forumtitle, .global_unread a.topictitle, .global_unread_mine a.topictitle, .global_unread_locked a.topictitle, .global_unread_locked_mine a.topictitle, .announce_unread a.topictitle, .announce_unread_mine a.topictitle, .announce_unread_locked a.topictitle, .announce_unread_locked_mine a.topictitle, .sticky_unread a.topictitle, .sticky_unread_mine a.topictitle, .sticky_unread_locked a.topictitle, .sticky_unread_locked_mine a.topictitle, .topic_unread a.topictitle, .topic_unread_mine a.topictitle, .topic_unread_hot a.topictitle, .topic_unread_hot_mine a.topictitle, .topic_unread_locked a.topictitle, .topic_unread_locked_mine a.topictitle { color: #026402; font-style: italic; }

ul.topiclist li.row dt a.subforum.unread {
	border-left: 1px solid #AA0000;
	font-style: italic;
	padding-left: 2px;
	color: #AA0000;
}

.postbody h3 img {
	vertical-align: sub;
}

.badge {
	background-color: #FAFAFA;
	border-radius: 10px;
	opacity: 0.8;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	float: right;
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	padding: 4px 6px;
	color: #000000;
}

.badge.hidden {
	display: none;
}

/* Another ADDs
------------------------------------------------------------------- */
.wrappasecondmb {
	max-width: 86%;
	border: none;
	border-radius: 0px;
	margin: 4px auto;
}

.wrap, .headerbar, .navbar, .forabg, .forumbg, .panel, .post {
	border-radius: 0px;
}

.forabg, .forumbg {
	padding: 5px 7px 6px 7px;
}

.post {
	border: 1px solid #000000;
}

.dropdown .dropdown-contents {
	border-radius: 0px;
}

.dropdown-contents a {
	display: block;
	padding: 7px;
	margin: 1px;
}

.button {
	color: #008000;
	border: 1px solid #CCCCCC;
	border-radius: 0px;
}

.icon, .button .icon {
	color: #36561E;
}

a:hover, a:focus, a:active {
	color: #37561E;
}

.search-header {
	margin-top: 4px;
}

h1 {
	font-size: 1.7em;
}

.motorbiketzmsitedescription {
	float: left;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin: 6px 10px 3px 5px;
	min-height: 27px;
	text-align: left;
}

.motorbiketzmblock_left {
	float: left;
	margin-top: 8px;
	margin-bottom: 6px;
	width: 62%;
}

.motorbiketzmblock_right {
	float: right;
	margin-top: 8px;
	margin-bottom: 6px;
}

.motorbiketzmsitename {
	background: transparent;
	color: #000000;
	font-size: 1.8em;
	font-weight: bold;
	margin: 11px auto;
	text-align: center;
}

div > hr.motorbiketzmsitename {
	border-color: #FFFFFF;
	border-right: medium none;
	border-style: double none none;
	border-width: medium;
	color: #278742;
	padding: 0px;
	text-align: center;
}

.motorbiketzmsitename a {
	text-decoration: overline;
	color: #FFFFFF;
	word-spacing: .2em;
}

.motorbiketzmsitename a:hover {
	text-decoration: none;
	color: #36561E;
	word-spacing: .2em;
}

#sitelogotzmheaderbarmotorbike {
	background-image: url("./images/logobikerfirstmd.jpg");
	background-position: 50% 54%;
	background-repeat: no-repeat;
	text-align: center;
	padding: 22px;
}

div.boxshadow-specialtzmmotorbike {
	box-shadow: 0 0 10px 5px silver, 20px -10px white, 20px 10px 30px black, -20px 10px white, -20px -10px 30px DarkOliveGreen;
	margin: 24px auto;
	padding: 4px;
}

a.mark, a.mark-read, a.arrow-right, a.arrow-left {
	font-size: 1.02em;
	background: #E1E1E1;
	padding: 2px 8px;
}

.submit-buttons input#agreed {
	font-weight: normal;
}

.footer-link-text {
	font-weight: bold;
	font-size: 1.05em;
}

dd input[type="number"] { background: #E1E1E1; font-size: 1.2em; padding: 6px; color: #36561E; }

#ch {
	background: #E1E1E1;
	font-size: 1.1em;
	padding: 4px;
	border-color: #CCCCCC;
	color: #36561E;
}

/* Prevent horizontal scrollbars on thumbnails-responsive e.q. IE11 not working anymore smaller 701px so we need a workaround content-css
-------------------------------------------------------------------------------------------------------------------------------------------- */
dl.thumbnail dt a img {
	width: 100%;
	height: auto;
}

/* logo
------------------------------------------------------------------- */
.logo {
	padding: 18px 13px 0 12px;
}

.site_logo {
	background-image: url("./images/spacer.gif");
}

.site_logo {
	background-repeat: no-repeat;
	display: inline-block;
	width: 130px;
	height: 52px;
}

.logo {
	float: left;
	width: auto;
	padding: 4px 10px 0 22px;
}

/* ADDs responsive design
------------------------------------------------------------------- */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	body {
	background-image: none;
	filter: none;
	}
	h1 {
	font-size: 1.5em;
	}
	.motorbiketzmblock_left {
	width: 99%;
	}
	h1.motorbiketzmsitename {
	font-size: 1.3em;
	}
	fieldset.display-actions {
	text-align: left;
	}
	fieldset.display-actions label {
	padding-right: 2px;
	margin-top: 6px;
	white-space: normal;
	}
	fieldset.display-actions label {
	padding: 12px 10px 8px 2px;
	white-space: normal;
	}
	hr.motorbiketzmsitename {
	padding: 10px;
	}
}

@media only screen and (max-width: 825px), only screen and (max-device-width: 825px) {
	.wrap {
	max-width: 1152px;
	}
	.sitelogo-responsivemotorbike {
	display: block;
	max-width: 40%;
	margin: 12px auto;
	}
	.logo, .site_logo {
	display: none;
	float: none;
	padding: 8px;
	}
	#sitelogotzmheaderbarmotorbike {
	background-size: 91% auto;
	padding: 2px;
	}
}

@media only screen and (max-width: 875px), only screen and (max-device-width: 875px) {
	select, .inputbox {
	max-width: 240px;
	}
	dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 40px auto;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	dl.row-item dt a {
	display: inline;
	line-height: 1.45em;
	}
}

@media (min-width: 701px) {
	.postbody {
	width: calc(100% - 208px - 1px - 16px);
	}
	.postprofile {
	width: 208px;
	}
}

	#footer_block_in_mblogin {
	border-top: 6px solid #183017;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0px;
	width: 99%;
	}

	.footermb-b-l {
	background-image: url("./images/mb_left.png");
	background-repeat: no-repeat;
	height: 66px;
	float: left;
	width: 99px;
	padding: 0px;
	}

	.footermb-b-m {
	background: url("./images/mb_mid.png");
	background-repeat: repeat;
	height: 66px;
	margin: 0px 99px 0px 99px;
	width: auto;
	padding: 0px;
	}

	.footermb-b-r {
	background-image: url("./images/mb_right.png");
	background-repeat: no-repeat;
	height: 66px;
	float: right;
	margin-top: -66px;
	width: 99px;
	padding: 0px;
	}

/* ToDo - Supplement, edit your own works here - ADDs print help output the page (Browser-Print-Page)
------------------------------------------------------------------------------------------------------------- */
@media print {
html, body {width: 100% !important; height: 100% !important; padding: 0 !important; margin: 0 !important; font-family: "times new roman", times, serif; font-size: 80%; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
h1, h2, h3, h1 a, h2 a, h3 a, solo {font-family: "times new roman", times, serif; font-size: 88%; color: #000000; background: none; text-decoration: none; border: none; font-weight: normal;}
.headerbar, .logo, hr.motorbiketzmsitename, #jumpbox, ul.post-buttons, a.top, #top, .postprofile, .signature, .signature a {display: none;}
h1, h2, h3, h1 a, h2 a, h3 a, solo, .page-header, .wrap, #wrap, .forabg, .forumbg, .ucp-title {font-size: 84%; text-decoration: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
img, .site-description img, div > .navbar, #sitelogotzmheaderbarmotorbike, .motorbiketzmblock_left, #footer_block_in_mblogin, form.headerspace, fieldset.quick-login, .stat-block, .online-list, .birthday-list, .statistics, .action-bar, .bar-bottom {display: none;}
.copyright {text-align: left; margin-top: 50px; padding: 10px 0px 10px 12px; box-shadow: none; color: #000000;}
div.rules, a, a.mark, a.mark-read, a.arrow-right, a.arrow-left, div.boxshadow-specialtzmmotorbike, .search-header, .search-box .inputbox, .panel, .post {border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
.button {background-color: transparent; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none;}
.button, a.button1, input.button1, input.button3, a.button2, input.button2 {background-color: transparent; background-image: none; filter: none; border: none; color: #000000;}
ul.topiclist li.row dd {padding: 4px 0 9px 0; margin-bottom: 8px; border: none;}
}
