/* Style Sheet Tweaks

These style definitions are IE 8 & 9 only.
They are required due to the poor CSS support in IE browsers.
------------------------------------------------------------------------------*/

/* IE 8 Tweaks (value)\9 equates to  IE <= 8
------------------------------------------------------------------------------*/

/* Clear float fix */
.inner, ul.linklist { zoom: 1\9; }

/* Align checkboxes/radio buttons nicely */
dd label input { vertical-align: text-bottom\9; }

/* Fixes header-avatar aspect-ratio */
.header-avatar img { height: 20px\9; }

/* IE8 often can't handle max-width in %, so we use px instead */
.postprofile .avatar img { max-width: 150px\9; }


/* IE 9 Tweaks
------------------------------------------------------------------------------*/

/* Border-radius bleed fix in IE9 */
.search-header, .search-header .inputbox, .search-header a.button {
	border-radius: 0;
}

.headerbar {
	background-color: transparent;
	background-image: none;
	filter: none;
	background-repeat: repeat;
}

.forumbg {
	background-color: #1E2073;
	background-image: -moz-linear-gradient(top, #010423, #485479, #010101);
	background-image: -webkit-linear-gradient(top, #010423, #485479, #010101);
	background-image: -o-linear-gradient(top, #010423, #485479, #010101);
	background-image: linear-gradient(to bottom, #010423, #485479, #010101);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#485479',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
}

.forabg {
	background-color: #1E2073;
	background-image: -moz-linear-gradient(top, #010423, #485479, #010101);
	background-image: -webkit-linear-gradient(top, #010423, #485479, #010101);
	background-image: -o-linear-gradient(top, #010423, #485479, #010101);
	background-image: linear-gradient(to bottom, #010423, #485479, #010101);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#485479',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
}

.tabs .tab > a {
	border-radius: 0;
}
