/* phpBB3 Style Sheet
    -----------------------------------------------------------------------------
	Style name:			AmbianceRed
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Talk19Zehn ( ongray-design.de )
    -----------------------------------------------------------------------------
*/

body {
	background-color: #010000;
	filter: none;
}

html, body {
	color: #E5E5E5;
	background-color: #010000;
	line-height: normal;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 13px auto;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	color: #FFFFFF;
}

h2 {
	color: #E5E5E5;
}

h3 {
	border-bottom-color: #901C1D;
	color: #E5E5E5;
}

hr {
	border-color: #777777;
	border-top-color: #901C1D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */
a:hover, a:focus, a:active {
	color: #E5E5E5;
}

a { color: #E5E5E5; }
a:hover	{ text-decoration: underline; color: #E2E2E2; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #DBDBDB;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #E5E5E5;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #736E6E;
}

/* Post body links */
.postlink {
	border-bottom-color: #580000;
	color: #D1D1D1;
}

.postlink:visited {
	border-bottom-color: #CCCCCC;
	color: #D1D1D1;
}

.postlink:hover {
	background-color: #171717;
	color: #CCCCCC;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #888888;
}

/* Arrow links */
.arrow-left:hover, .arrow-right:hover {
	color: #B7B7B7;
}

.ucp-title {
	background-color: #580000;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	color: #E5E5E5;
	font-size: 1.4em;
	font-style: italic;
	margin: 1%;
	padding: 4px;
	text-align: center;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #4F0001;
	background: -webkit-linear-gradient(top, #4F0001 0%,#020101 100%);
	background: linear-gradient(to bottom, #4F0001 0%,#020101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F0001', endColorstr='#020101',GradientType=0 );
	border: 1px solid #EF5E0F;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(248, 87, 53, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 49px 9px rgba(236, 235, 210, 0.5);
}

.headerbar {
	background-color: #410001;
	background-image: url("./images/logoheaderbarla1500mps.jpg");
	background-repeat: repeat-x;
	background-position: left top;
	filter: none;
	color: #CCCCCC;
	border: none;
	margin-bottom: 11px;
	min-height: 134px;
}

.navbar {
	background-color: #010101;
	background-image: none;
	filter: none;
	border: 1px solid #BA0F0F;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(138, 14, 27, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 49px 9px rgba(2, 2, 2, 0.5);
}

.forabg {
	background-color: #000;
	background: -webkit-linear-gradient(left, #590000 50%, #A54D1C 100%);
	background: linear-gradient(to right, #590000 50%, #A54D1C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590000', endColorstr='#A54D1C', GradientType=1 );
	background-image: none;
	background-repeat: repeat-x;
}

.forumbg {
	background-color: #000;
	background: -webkit-linear-gradient(left, #590000 50%, #A54D1C 100%);
	background: linear-gradient(to right, #590000 50%, #A54D1C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590000', endColorstr='#A54D1C', GradientType=1 );
	background-image: none;
	background-repeat: repeat-x;
}

.panel {
	background-color: #313131;
	color: #CCCCCC;
}

.post:target .content {
	color: #E5E5E5;
}

.post h3 a.first-unread,
.post:target h3 a {
	color: #FAFAFA;
}

.bg1 {
	background-color: #000;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #000;
}

.bg2 {
	background-color: #000;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #000;
}

.bg3 {
	background-color: #000;
}

.ucprowbg {
	background-color: #000;
}

.fieldsbg {
	background-color: #000;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #901C1D;
	border-bottom-color: #666666;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #E5E5E5;
}

table.table1 tbody tr {
	border-color: #666666;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #333333;
	color: #E5E5E5;
}

table.table1 td {
	color: #E5E5E5;
}

table.table1 tbody td {
	border-top-color: #222222;
}

table.table1 tbody th {
	border-bottom-color: #070707;
	color: #E5E5E5;
	background-color: #777777;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #E5E5E5;
}

dl.details dd {
	color: #E5E5E5;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #901C1D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #949596;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #d2d3d8;
}

.icon.icon-black, a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #682315;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #181818;
}

.jumpbox-cat-link {
	background-color: #580000;
	border-top-color: #580000;
	color: #DADADA;
}

.jumpbox-cat-link:hover {
	background-color: #420001;
	border-top-color: #420001;
	color: #CCCCCC;
}

.jumpbox-forum-link {
	background-color: #580000;
}

.jumpbox-forum-link:hover {
	background-color: #420001;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #CCCCCC transparent;
}

.jumpbox-sub-link {
	background-color: #580000;
}

.jumpbox-sub-link:hover {
	background-color: #420001;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #CCC;
}

.error {
	color: #FEC510;
}

.reported {
	background-color: #616161;
	background-image: none;
	filter: none;
}

li.reported:hover {
	background-color: #282828 !important;
	background-image: none;
	filter: none;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #222222;
	border-radius: 0px;
	border: 2px inset #FFF;
	color: #E5E5E5;
}

.rules h3 {font-size: 1.2em; text-transform: none;}
.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
.rules > div a:visited {text-decoration: underline; color: inherit;}
.rules > div a:hover {text-decoration: underline; color: inherit; background-color: #939393;}
.rules > div .active > a {font-size: 1.1em; text-decoration: underline; color: inherit;}
.rules > p a {font-weight: bold; border-bottom: 1px solid darkred; text-decoration: none; color: inherit;}
.rules > div a.button2 {font-size: 1.0em; color: #181818;}

/* rules div responsive design */

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.rules > div a {border-bottom: 1px solid transparent; text-decoration: underline; color: inherit;}
	.rules > p a {font-weight: bold; border-bottom: 1px solid darkred; text-decoration: none; color: inherit;}
}

p.post-notice {
	background-color: #313131;
	background-image: none;
	filter: none;
	border-left: 2px solid #FFDA0F;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #000;
	background-image: none;
	filter: none;
}

ul.topiclist li {
	color: #E5E5E5;
}

ul.topiclist dd {
	border-left-color: #666666;
}

.rtl ul.topiclist dd {
	border-right-color: #181818;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.unread {
	border-left: 1px solid #A80000;
	font-style: italic;
	padding-left: 2px;
	color: #A80000;
}

li.row {
	border-top-color: transparent;
	border-bottom-color: #000000;
}

li.row strong {
	color: #E5E5E5;
}

li.row:hover {
	background-color: #000;
}

li.row:hover dd {
	border-left-color: #901C1D;
}

.rtl li.row:hover dd {
	border-right-color: #901C1D;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #EEEEEE;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #FFFFFF;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #E5E5E5;
}

.content h2, .panel h2 {
	color: #E5E5E5;
	border-bottom-color: #CCCCCC;
}

dl.faq dt {
	color: #E5E5E5;
}

.posthilit {
	background-color: #760001;
	color: #E5E5E5;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #777777;
	background-image: url("./images/signatur.png");
	background-repeat: no-repeat;
	background-position: 99% 30%;
	padding-top: 2.4em;
	color: #E5E5E5;
}

/* Post noticies */
.notice {
	border-top-color: #777777;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #333333;
	border-color: #C2C2C2;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #2A2A2A;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #222222;
}

/* Code block */
.codebox {
	background-color: #282828;
	border-color: #333333;
}

.codebox p {
	border-bottom-color: #333333;
}

.codebox code {
	color: #DDDDDD;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #333333;
	border-color: #666666;
}

.pm-message .attachbox {
	background-color: #2A2A2A;
}

.attachbox dd {
	border-top-color: #666666;
}

.attachbox p {
	color: #888888;
}

.attachbox p.stats {
	color: #888888;
}

.attach-image img {
	border-color: #3A3A3A;
}

/* Inline image thumbnails */

dl.file dd {
	color: #888888;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #333333;
}

dl.thumbnail dd {
	color: #888888;
}

dl.thumbnail dt a:hover {
	background-color: #3A3A3A;
}

dl.thumbnail dt a:hover img {
	border-color: #777777;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #777777;
	color: #E5E5E5;
}

fieldset.polls dl.voted {
	color: #C2C2C2;
}

fieldset.polls dd div {
	color: #E5E5E5;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #666666;
	border-bottom-color: #333333;
	border-right-color: #333333;
}

.rtl .pollbar1 {
	border-left-color: #333333;
}

.pollbar2 {
	background-color: #777777;
	border-bottom-color: #444444;
	border-right-color: #444444;
}

.rtl .pollbar2 {
	border-left-color: #444444;
}

.pollbar3 {
	background-color: #888888;
	border-bottom-color: #555555;
	border-right-color: #555555;
}

.rtl .pollbar3 {
	border-left-color: #555555;
}

.pollbar4 {
	background-color: #999999;
	border-bottom-color: #666666;
	border-right-color: #666666;
}

.rtl .pollbar4 {
	border-left-color: #666666;
}

.pollbar5 {
	background-color: #AAAAAA;
	border-bottom-color: #777777;
	border-right-color: #777777;
}

.rtl .pollbar5 {
	border-left-color: #777777;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #FFFFFF;
	border-color: #C4C4C4;
}

.pm .postprofile {
	border-color: #333333;
}

.postprofile strong {
	color: #E5E5E5;
}

.postprofile dd, .postprofile dt {
	line-height: 1.8em;
}

/*
.online {
	background-image: url("./en/icon_user_online.gif");
}
 */

.online {
	background-image: url("./images/icon_user_online.gif");
}

dd.profile-warnings {
	color: #FED267;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

.button {
	border-color: #901C1D;
	background-color: #010101;
	background-image: -webkit-linear-gradient(top, #010101, #636161, #000);
	background-image: linear-gradient(to bottom, #010101, #636161, #000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#636161',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 0 1px transparent inset;
	text-shadow: none;
}

.button:hover,
.button:focus {
	border-color: #901C1D;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(138, 14, 27, 0.8);
	background-color: #010101;
	background-image: -webkit-linear-gradient(top, #010101, #636161, #000);
	background-image: linear-gradient(to bottom, #010101, #636161, #000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#636161',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 0 1px transparent inset;
	text-shadow: none;
}

.button .icon,
.button-secondary {
	color: #010101;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #FAFAFA;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #FFF;
}

.caret { border-color: #DADADA; }
.caret:hover { border-color: #901C1D; }

.contact-icons a { border-color: #DCDCDC; }
.contact-icons a:hover { background-color: #FAFAFA; }

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #4F0001;
	filter: none;
	border-color: #E5E5E5;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #FFFFFF;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #CCC;
}

.pagination li.active span {
	background: #4F0001;
	border-color: #FAFAFA;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #580000;
	border-color: #760001;
	filter: none;
	color: #FFFFFF;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #CCCCCC;
}

.search-header {
	box-shadow: 0 0 10px #901C1D;
}

.search-results li:hover,
.search-results li.active {
	background-color: #82191A;
}

.search-box .inputbox {
	background-image: none;
	filter: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 24px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 10px #901C1D;
	width: 160px;
}

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #777777;
}

.panel-container .panel li.row {
	border-bottom-color: #181818;
	border-top-color: #333333;
}

ul.cplist {
	border-top-color: #777777;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #D2D2D2;
}

.panel-container table.table1 thead th {
	color: #898989;
	border-bottom-color: #181818;
}

.cp-main .pm-message {
	border-color: #D2D2D2;
	background-color: #FAFAFA;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #010101;
	color: #FAFAFA;
}

.tabs .tab > a:hover {
	background: #010101;
	color: #C4C4C4;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background: #000000;
	background: -webkit-linear-gradient(top, #000, #777, #010101);
	background: linear-gradient(to bottom, #000, #777, #010101);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#777', GradientType=0 );
	border-color: #010101;
	box-shadow: 0 1px 1px #C4C4C4 inset;
	color: #FAFAFA;
}

.tabs .activetab > a:hover {
	color: #FFF;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #717171;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #282828;
	color: #FAFAFA;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #FAFAFA;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #C4C4C4;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #FAFAFA;
	background: #717171;
	background: -webkit-linear-gradient(left, #717171 50%, #868686 100%);
	background: linear-gradient(to right, #717171 50%, #868686 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#868686', GradientType=1 );
}

.rtl .navigation a {
	color: #FAFAFA;
	background: #717171;
	background: -webkit-linear-gradient(left, #717171 50%, #868686 100%);
	background: linear-gradient(to right, #717171 50%, #868686 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#868686', GradientType=1 );
}

.navigation a:hover {
	background: #181818;
	color: #C4C4C4;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	text-decoration: underline;
}

.navigation .active-subsection a {
	background: #333333;
	color: #C4C4C4;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	text-decoration: underline;
}

.navigation .active-subsection a:hover {
	color: #CCCCCC;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #333333;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #E5E5E5;
}

.panel-container .panel {
	background-color: #2A2A2A;
}

.cp-main .pm {
	background-color: #282828;
}

/* Friends list */
.cp-mini {
	background-color: #222222;
}

dl.mini dt {
	color: #E5E5E5;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #898989 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BD6439;
	border-right-color: #BD6439;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FEC510;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A6A6A6;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #B4D04F;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #AA0000;
}

/* Avatar gallery */
.gallery label {
	background: #420001;
	border-color: #282828;
}

.gallery label:hover {
	background-color: #010101;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #420001;
	color: #BFBBBB;
}

label {
	color: #E5E5E5;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #E5E5E5;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #C4C4C4;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #420001;
}

input#password.inputbox,
input#username.inputbox {
	background: #420001;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #E5E5E5;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(16, 164, 242, 0.5);
}

#message {
	background-color: #282828;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #420001;
	border-color: #A81212;
	color: #FAFAFA;
}

.inputbox:-moz-placeholder {
	color: #FAFAFA;
}

.inputbox::-webkit-input-placeholder {
	color: #FAFAFA;
}

.inputbox:hover {
	border-color: #CE0000;
}

.inputbox:focus {
	border-color: #CCC;
	color: #FAFAFA;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #EEEEEE;
	background-color: #010101; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #010101 0%, #ABABAB 100%);
	background-image: linear-gradient(to bottom, #010101 0%,#ABABAB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#ABABAB',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	font-weight: normal;
}

a.button1, input.button1 {
	border-color: #A81212;
}

input.button3 {
	background-image: none;
	filter: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #A81212;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #E2E2E2;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #A81212;
	color: #FAFAFA;
	background-color: #ABABAB; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #ABABAB 0%, #010101 100%);
	background-image: linear-gradient(to bottom, #ABABAB 0%,#010101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ABABAB', endColorstr='#010101',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #CE0000;
	color: #CCCCCC;
}

input.disabled {
	color: #ABABAB;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #310909;
	border-color: #999999;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #580000;
	color: #DADADA;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #FAFAFA;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #580000;
	background-image: -webkit-linear-gradient(top, #580000 0%, #590000 100%);
	background-image: linear-gradient(to bottom, #580000 0%,#590000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#580000', endColorstr='#590000',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px transparent;
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #B9B9B9 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #DCDCDC transparent;
}

.dropdown .dropdown-contents {
	background: #3A3A3A;
	border-color: #B9B9B9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: transparent;
}

.dropdown li.separator {
	border-color: transparent;
}

/* Notifications Common - ADDs
---------------------------------------- */
.dropdown-extended .dropdown-contents {
	max-width: 320px;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #DADADA;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}

/* ADDs Button, Common, Content, Icons, Logo, Responsive and more
------------------------------------------------------------------------------ */
.wrap {
	max-width: 1280px;
}

.row .pagination {
	margin-top: 4px;
	margin-bottom: 4px;
}

.fa-external-link-square::before {
	content: "\f0ea";
	color: #E5E5E5;
}

.fa-external-link::before {
	content: "\f08e";
	color: #FFFFFF;
}

.fa-angle-left::before {
	color: #FFFFFF;
}

.fa-angle-right::before {
	color: #FFFFFF;
}

.fa-commenting-o::before {
	content: "\f2bb";
	color: #E5E5E5;
}

.fa-file-o::before {
	color: #E5E5E5;
}

.action-bar {
	margin: 14px 0;
}

.dropdown li {
	background-color: #282828;
	color: #ADADAD;
}

dl.row-item dt {
	background-position: 51px 1%;
	background-repeat: no-repeat;
	background-size: 17px auto;
}

dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 48px auto;
}

dl.row-item dt .list-inner {
	padding-left: 64px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 55px;
}

.postbody h3 img {
	vertical-align: sub;
}

.badge {
	background-color: #901C1D;
	border-radius: 10px;
	opacity: 0.9;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	float: right;
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	padding: 4px 6px;
	color: #FFFFFF;
}

.badge.hidden {
	display: none;
}

.cp-main .panel {
	padding: 5px 18px;
}

/* Another ADDs */

.wrap, .headerbar, .navbar, .forabg, .forumbg, .panel, .post {
	border-radius: 0px;
}

.forabg, .forumbg {
	padding: 5px 3px 6px 3px;
}

.post {
	border: 1px solid #888888;
}

.dropdown .dropdown-contents {
	border-radius: 0px;
}

.button {
	color: #FFFFFF;
	border: 1px solid #901C1D;
	border-radius: 0px;
}

.icon, .button .icon {
	color: #E5E5E5;
}

li.header dt, li.header dd {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1.1em;
	text-transform: none;
}

fieldset.display-options label {
	color: #FFFFFF;
}

.submit-buttons input#agreed {
	font-weight: normal;
}

.postsdivider {
	display: block;
}

.postsdivider {
	border: none;
	height: 10px;
	width: 90%;
	height: 20px;
	margin-top: 0;
	border-bottom: 1px solid #A00;
	box-shadow: 0 8px 8px -8px #F4340D;
	margin: -16px auto 16px;
}

dd input[type="number"] { background: #333333; font-size: 1.2em; padding: 6px; color: #D1BA84; }

#ch {
	background: #404040;
	font-size: 1.1em;
	padding: 4px;
	border-color: #420001;
	color: #DACDB5;
}

.online-list em a { font-weight: bold !important; }

/* Prevent horizontal scrollbars on linked-thumbnails-responsive e.q. IE11 not working anymore smaller 701px so we need a workaround (content-css)
------------------------------------------------------------------------------------------------------------------------------------------------------- */
dl.thumbnail dt a img {
	width: 100%;
	height: auto;
}

/* site-description, search and logo */

.site_logo {
	display: inline-block;
	background-image: url("./images/spacer.gif");
	width: 194px;
	height: 84px;
	background-repeat: no-repeat;
}

.logo {
	float: left;
	width: auto;
	margin-left: 30px;
	margin-top: -103px;
}

.logo:hover {
	text-decoration: none;
}

.search-header {
	margin-top: 32px;
}

.sitelogo-adaptresponsive {
	display: inline-block;
	padding: 0;
	max-width: 99%;
}

.logo {
	padding: 5px 13px 0 12px;
}

#logositetext-small-onheaderbar {
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

.ambr-sitename {
	font-size: 1.8em;
	font-style: italic;
	font-family: Candara, Arial, Helvetica, sans-serif;
}

.ambr-description {
	font-size: 1.6em;
	font-style: italic;
	font-family: Candara, Arial, Helvetica, sans-serif;
}

h1 a {
	text-decoration: underline;
}

.site-description img {
	height: auto;
	width: 80%;
}

/* responsive design */

@media only screen and (max-width: 601px), only screen and (max-device-width: 601px) {
	.logo {
	display: none;
	float: none;
	padding: 8px;
	}
	#logositetext-small-onheaderbar{
	float: none;
	width: auto;
	padding: 9px 12px 0 7px;
	margin-left: 84px;
	margin-top: 28px;
	}
}

@media screen and (min-width: 700px) and (min-device-width: 700px){
	.forabg {
	border: 1px solid #BA0F0F;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(138, 14, 27, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 49px 9px rgba(2, 2, 2, 0.5);
	}
	.forumbg {
	border: 1px solid #BA0F0F;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear, box-shadow 0.2s linear;
	border-color: rgba(138, 14, 27, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(20, 39, 200, 0.6);
	box-shadow: 4px 4px 49px 9px rgba(2, 2, 2, 0.5);
	}
}

@media only screen and (max-width: 701px), only screen and (max-device-width: 701px) {
	.wrap {
	max-width: 1152px;
	background-image: none;
	filter: none;
	border-image: none;
	border-width: 1px;
	}
	.site-description p {
	display: block;
	}
	.logo {
	display: none;
	float: none;
	padding: 8px;
	}
	.site-description img {
	height: auto;
	width: 210px;
	}
	.headerbar {
	min-height: 54px;
	background-position: left top;
	background-repeat: no-repeat;
	}
	#logositetext-small-onheaderbar{
	float: none;
	width: auto;
	padding: 9px 12px 0 7px;
	margin-left: 24px;
	margin-top: 28px;
	}
	fieldset.display-actions {
	text-align: left;
	}
	fieldset.display-actions label {
	padding-right: 2px;
	margin-top: 6px;
	white-space: normal;
	}
	fieldset.display-actions label {
	padding: 12px 10px 8px 2px;
	white-space: normal;
	}
	.postsdivider {
	display: none;
	}
	.dropdown .dropdown-contents {
	max-height: 200px;
	}
}

@media only screen and (max-width: 801px), only screen and (max-device-width: 801px) {
	.logo {
	display: none;
	float: none;
	padding: 8px;
	}
	#logositetext-small-onheaderbar {
	float: none;
	width: auto;
	padding: 9px 12px 0 7px;
	margin-left: 84px;
	margin-top: 28px;
	}
}

@media only screen and (max-width: 801px), only screen and (max-device-width: 801px) {
	.headerbar {
	min-height: 54px;
	background-position: left top;
	background-repeat: no-repeat;
	}
}

@media only screen and (max-width: 875px), only screen and (max-device-width: 875px) {
	select, .inputbox {
	max-width: 240px;
	}
	dl.row-item {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-size: 40px auto;
	}
	dl.row-item dt .list-inner {
	padding-left: 60px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	dl.row-item dt a {
	display: inline;
	line-height: 1.55em;
	}
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.wrap {
	max-width: 1152px;
	}
}

@media screen and (min-width: 1220px) and (min-device-width: 1220px){
	body {
	background-color: #010000;
	background-image: url("./images/logolamphtmltop.png");
	background-position: left top;
	background-repeat: repeat-x;
	filter: none;
	padding: 126px 0 62px;
	}
}

@media (min-width: 701px) {
	.postbody {
	width: calc(100% - 210px - 1px - 16px);
	}
	.postprofile {
	width: 210px;
	}
}

/* ToDo - Supplement, edit your own works here - ADDs print help output the page (Browser-Print-Page)
------------------------------------------------------------------------------------------------------------ */
@media print {
html, body {width: 100% !important; height: 100% !important; padding: 0 !important; margin: 0 !important; font-family: "times new roman", times, serif; font-size: 80%; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
h1, h2, h3, h1 a, h2 a, h3 a, solo {font-family: "times new roman", times, serif; font-size: 88%; color: #000000; background: none; text-decoration: none; border: none; font-weight: normal;}
.headerbar, .logo, #jumpbox, ul.post-buttons, a.top, #top, .postprofile, .signature, .signature a {display: none;}
html, body, h1, h2, h3, h1 a, h2 a, h3 a, solo, .page-header, .wrap, #wrap, .forabg, .forumbg {font-size: 84%; text-decoration: none; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
img, .postsdivider, hr.postsdivider, .site-description img, div > .navbar, form.headerspace, fieldset.quick-login, .stat-block, .online-list, .birthday-list, .statistics, .action-bar, .bar-bottom {display: none;}
.copyright {text-align: left; padding: 10px 0px 10px 12px; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
div.rules, a, a.mark, a.mark-read, a.arrow-right, a.arrow-left, .search-header, .search-box .inputbox, .panel, .post {border: none; box-shadow: none; -webkit-box-shadow: none; color: #000000;}
.button {background-color: transparent; background: none; background-image: none; filter: none; border-image: none; border: none; box-shadow: none; -webkit-box-shadow: none;}
.button, a.button1, input.button1, input.button3, a.button2, input.button2 {background-color: transparent; background-image: none; filter: none; border: none; color: #000000;}
ul.topiclist li.row dd {padding: 4px 0 9px 0; margin-bottom: 8px; border: none;}
}
